
<div id="orderIndex">
    <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2>Order </h2>
                <ul>
                    <li><a href="/Cart/checkout/">Home</a></li>
                    <li><i class="ti-angle-right"></i></li>
                    <li>Order </li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-img-1">
            <img src="/assets/images/banner/07.png" alt="">
        </div>
        <div class="breadcrumb-img-2">
            <img src="/assets/images/banner/08.png" alt="">
        </div>
    </div>
    <div class="checkout-main-area pb-100 pt-100">
        <div class="container">
            <div class="checkout-wrap pt-30">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="cart-shiping-update-wrapper">
                            <div class="your-order-area">
                                <div class="billing-info-wrap">

                                    @*Order訂單*@
                                    <h3><strong>Order</strong></h3>
                                    <div class="row" v-for="order in orderItems">
                                        @*OrderId*@
                                        <div class="col-lg-12 col-md-12">
                                            <div class="billing-info mb-20">
                                                <ul class="product-thumbnail">
                                                    <strong>OrderId:</strong>
                                                    <li><span>{{order.orderId}}</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        @*OrderDate*@
                                        <div class="col-lg-12 col-md-12">
                                            <div class="billing-info mb-20">
                                                <ul class="product-thumbnail">
                                                    <strong>OrderDate:</strong>
                                                    <li><span>{{order.orderDate}}</span></li>

                                                </ul>
                                            </div>
                                        </div>
                                        @*ShippingDate*@
                                        <div class="col-lg-12 col-md-12">
                                            <div class="billing-info mb-20">
                                                <ul class="product-thumbnail">
                                                    <strong>ShippingDate:</strong>
                                                    <li><span>{{order.shippingDate}}</span></li>

                                                </ul>
                                            </div>
                                        </div>
                                        @*ShippingStatus*@
                                        <div class="col-lg-12 col-md-12">
                                            <div class="billing-info mb-20">
                                                <ul class="product-thumbnail">
                                                    <strong>ShippingStatus:</strong>
                                                    <li><span>{{order.statusType}}</span></li>
                                                    @*<li><span>{{order.status[0]}}</span></li>*@
                                                </ul>
                                            </div>
                                        </div>
                                        @*GetPayType*@
                                        <div class="col-lg-12 col-md-12">
                                            <div class="billing-info mb-20">
                                                <ul class="product-thumbnail">
                                                    <strong>GetPayType:</strong>
                                                    <li><span>{{order.type}}</span></li>
                                                    @*<li><span>{{order.Type[2]}}</span></li>*@
                                                </ul>
                                            </div>
                                        </div>
                                        @*Recipient*@
                                        <div class="col-lg-12 col-md-12">
                                            <div class="billing-info mb-20">
                                                <ul class="product-thumbnail">
                                                    <strong>Recipient:</strong>
                                                    <li><span>{{order.recipient}}</span></li>

                                                </ul>
                                            </div>
                                        </div>
                                        @*ShippingAddress*@
                                        <div class="col-lg-12 col-md-12">
                                            <div class="billing-info mb-20">
                                                <ul class="product-thumbnail">
                                                    <strong>ShippingAddress:</strong>
                                                    <li><span>{{order.shippingAddress}}</span></li>

                                                </ul>
                                            </div>
                                        </div>
                                        @*ContactPhone*@
                                        <div class="col-lg-12 col-md-12">
                                            <div class="billing-info mb-20">
                                                <ul class="product-thumbnail">
                                                    <strong>ContactPhone:</strong>
                                                    <li><span>{{order.contactPhone}}</span></li>

                                                </ul>
                                            </div>
                                        </div>
                                        @*Memo*@
                                        <div class="col-lg-12 col-md-12">
                                            <div class="billing-info mb-20">
                                                <ul class="product-thumbnail">
                                                    <strong>Memo:</strong>
                                                    <li><span>{{order.memo}}</span></li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="cart-shiping-update-wrapper">
                            <div class="your-order-area">
                                @*OrderDetails訂單明細*@
                                <h3><strong>OrderDetails</strong></h3>
                                <div class="your-order-wrap gray-bg-4">
                                    <div class="your-order-info-wrap">
                                        <div class="your-order-info">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <th class="col-lg-2"></th>
                                                        <th class="col-lg-2">Product</th>
                                                        <th class="col-lg-1">Color</th>
                                                        <th class="col-lg-1">Quantity</th>
                                                        <th class="col-lg-1">Size</th>
                                                        <th class="col-lg-1">Price</th>
                                                    </tr>
                                                    <tr v-for="checkout in checkoutInThisCheckOut">
                                                        <td class="product-thumbnail" v-for="(pic, index) in checkout.picturePath" v-if="index < 1">
                                                            <img class="width-thumbnail" style="width:120px" :src="pic"></img>
                                                        </td>
                                                        <td><span>{{checkout.productName}}</span></td>
                                                        <td v-for="(value, index) in checkout.type" v-if="index < 1"><span>{{value}}</span></td>
                                                        <td class="cart-quality">
                                                            <input type="number" :value="checkout.quantity" readonly>
                                                        </td>
                                                        <td>{{checkout.size}}</td>
                                                        <td class="product-price">
                                                            <span :class="{'old-price':checkout.discount}">${{checkout.price}}</span>
                                                            <span class="new-price" v-if="checkout.discount">${{checkout.sellingPrice}}</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="your-order-info order-subtotal">
                                            <ul>
                                                <li>Groupon <span>${{totalprice*0.1}} </span></li>
                                            </ul>
                                        </div>
                                        <div class="your-order-info order-total">
                                            <ul>
                                                <li>Total <span>${{totalprice*0.9}}</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        let app = new Vue({
            //el: "#orderIndex",
            data: {
                checkoutInThisCheckOut: {
                    checkout: [],
                },
                totalprice: 0,
                orderItems: [],
                order: [],
                id:0,
            },
            mounted: function () {
                var self = this;

                axios.get("/api/order/GetOrders")
                    .then(response => { 
                        self.orderItems = response.data.value
                        console.log("...", self.orderItems)
                    })
                    .catch(error => { tgm103ShowError(error); });
                axios.get("/api/checkout/GetCheckOut")
                    .then(response => {
                        console.log("....detail:", response.data)
                        self.checkoutInThisCheckOut = response.data
                    })
                    .catch(error => { tgm103ShowError(error); });
            },
        });

        document.addEventListener("DOMContentLoaded", () => {
            app.$mount('#orderIndex')
        })
    </script>
    }
