@model WuliKaWu.Data.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="app">
    <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2 data-aos="fade-up" data-aos-delay="200">Shop</h2>
                <ul data-aos="fade-up" data-aos-delay="400">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
            <img src="~/assets/images/banner/breadcrumb-1.png" alt="">
        </div>
        <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
            <img src="~/assets/images/banner/breadcrumb-2.png" alt="">
        </div>
    </div>

    <div class="container m-5">
        <div class="section-title-4 text-center mb-55" data-aos="fade-up" data-aos-delay="200">
            <h2>新增商品</h2>
        </div>


        <div class="shop-bottom-area">
            <div class="tab-content jump">
                <div class="shop-list-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                        <div class="col-lg-4 col-sm-5">
                            <div class="product-list-img">
                                <a asp-controller="Home" asp-action="ProductDetails">
                                    <img src="~/assets/images/product/product-5.png" id="imagePreview" alt="Product Style">
                                </a>

                                <div class="product-list-quickview">
                                    <button class="product-action-btn-2" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="pe-7s-look"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="mt-5">
                                <a asp-action="Index">Back to List</a>
                            </div>

                        </div>
                        <div class="col-lg-8 col-sm-7 contact-form-style">
                            <div class="shop-list-content">
                                <form asp-action="Create" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label asp-for="ProductName" class="control-label"></label>
                                                <input asp-for="ProductName" class="form-control" placeholder="請輸入品名" />
                                                <span asp-validation-for="ProductName" class="text-danger"></span>
                                            </div>
@*                                            <div class="form-group">
                                                <label asp-for="Color" class="control-label"></label>
                                                <input asp-for="Color" class="form-control" />
                                                <span asp-validation-for="Color" class="text-danger"></span>
                                            </div>*@

                                            <div class="shop-sorting-area">
                                                <select v-model="selectedItem" :class={}>
                                                    <option value="">請選擇</option>
                                                    <option value="0">Black</option>
                                                    <option value="1">White</option>
                                                    <option value="2">Brown</option>
                                                    <option value="3">Red</option>
                                                    <option value="4">Orange</option>
                                                </select>
                                                <input v-model="selectedItem" asp-for="Color" value=""/>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Size" class="control-label"></label>
                                                <input asp-for="Size" class="form-control" />
                                                <span asp-validation-for="Size" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Category" class="control-label"></label>
                                                <input asp-for="Category" class="form-control" />
                                                <span asp-validation-for="Category" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="PicturePath" class="control-label"></label>
                                                <input asp-for="PicturePath" class="form-control" type="file" id="fileupload" onchange="return ShowImagePreview(this)" />
                                                <span asp-validation-for="PicturePath" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-6">

                                            <div class="form-group">
                                                <label asp-for="Price" class="control-label"></label>
                                                <input asp-for="Price" class="form-control" />
                                                <span asp-validation-for="Price" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Discount" class="control-label"></label>
                                                <input asp-for="Discount" class="form-control" />
                                                <span asp-validation-for="Discount" class="text-danger"></span>
                                            </div>


                                            <div class="form-group">
                                                <label asp-for="SellingPrice" class="control-label"></label>
                                                <input asp-for="SellingPrice" class="form-control" />
                                                <span asp-validation-for="SellingPrice" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Tag" class="control-label"></label>
                                                <input asp-for="Tag" class="form-control" />
                                                <span asp-validation-for="Tag" class="text-danger"></span>
                                            </div>

                                            <div class="col-lg-12 col-md-3 ms-60 p-80 contact-form-style">
                                                <div class="col-lg-12 col-md-12 col-12 p-4 pe-0 contact-us-btn btn-hover">
                                                    <div>                                                       
                                                        <button class="submit" type="submit" id="sendMessageButton">新增</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function ShowImagePreview(input) {
            debugger;
            if (input.files && input.files[0]) {
                var fname = input.files[0].name;
                var re = /(\.jpg|\.jpeg|\.bmp|\.gif|\.png)$/i;
                if (!re.exec(fname)) {
                    alert("Image not supported!");
                    $("#fileupload").val("");

                    return false;
                }
                else {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#imagePreview').prop('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
        }


        let app = new Vue({
            el:"#app",
            data:
            {
                    selectedItem:""
            }
        
        })

    </script>
}
