

@{
    ViewData["Title"] = "Create";
}

<div class="ProductCreate">

    <div class="container m-5">
        <div class="section-title-4 text-center mb-55" data-aos="fade-up" data-aos-delay="200">
            <h2>Create Product</h2>
        </div>


        <div class="shop-bottom-area">
            <div class="tab-content jump">
                <div class="shop-list-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                        @*商品圖片*@
                        <div class="col-lg-4 col-sm-5">
                            <div class="product-list-img">
                                <a>
                                    <img src="/images/product-5.png" id="imagePreview" alt="Product Style">
                                </a>                                   
                            </div>

                            <div class="mt-5">
                                <a href="/Products/Index">Back to List</a>
                            </div>
                        </div>

                        @*商品欄位*@
                        <div class="col-lg-8 col-sm-7 contact-form-style">
                            <div class="shop-list-content">
                                <form action="/Products/Create" method="post">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group" hidden>
                                                <label for="ProductId" class="control-label">ProductId</label>
                                                <input for="ProductId" id="ProductId" name="ProductId" class="form-control" v-model="productFields.productId" />
                                            </div>

                                            <div class="form-group">
                                                <label for="ProductName" class="control-label">ProductName</label>
                                                <input for="ProductName" class="form-control" v-model="productFields.productName" placeholder="請輸入商品名稱" required />
                                            </div>

                                            <div class="form-group">
                                                <label for="Color" class="control-label">Color</label>
                                                <input for="Color" id="Color" name="Color" class="form-control" v-model="productFields.color" placeholder="請輸入顏色" />
                                            </div>

                                            @*<div class="shop-sorting-area form-group">
                                            <label for="Color" class="control-label">Color</label>
                                            <select v-model="selectedOption">
                                            <option value="">Choose</option>
                                            <option v-for="color in colors" :key="color.value" :value="color.value">{{color.text}}</option>
                                            </select>
                                            </div>*@
                                        
                                            <div class="form-group">
                                                <label for="Size" class="control-label">Size</label>
                                                <input for="Size" id="Size" name="Size" class="form-control" v-model="productFields.size" placeholder="請輸入尺寸" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Category" class="control-label">Category</label>
                                                <input for="Category" id="Category" name="Category" class="form-control" v-model="productFields.category" placeholder="請輸入分類" />
                                            </div>

                                            <div class="form-group">
                                                <label for="PicturePath" class="control-label">PicturePath</label>
                                                <input for="PicturePath" name="PicturePath" class="form-control" type="file" id="fileupload" onchange="return ShowImagePreview(this)" v-model="picturePath"/>
                                            </div>
                                        </div>

                                        <div class="col-6">

                                            <div class="form-group">
                                                <label for="Price" class="control-label">Price</label>
                                                <input for="Price" id="Price" name="Price" class="form-control" v-model="productFields.price" placeholder="請輸入價格" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Discount" class="control-label">Discount</label>
                                                <input for="Discount" id="Discount" name="Discount" class="form-control" v-model="productFields.discount" placeholder="請輸入折扣" />
                                            </div>

                                            <div class="form-group">
                                                <label for="SellingPrice" class="control-label">SellingPrice</label>
                                                <input for="SellingPrice" id="SellingPrice" name="SellingPrice" class="form-control" v-model="productFields.sellingPrice" placeholder="請輸入折扣價格" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Tag" class="control-label">Tag</label>
                                                <input for="Tag" id="Tag" name="Tag" class="form-control" v-model="productFields.tag" placeholder="請輸入標籤" />
                                            </div>

                                            @*商品新增按鍵*@
                                            <div class="col-lg-12 col-md-3 ms-60 p-80 contact-form-style">
                                                <div class="col-lg-12 col-md-12 col-12 p-4 pe-0 contact-us-btn btn-hover">
                                                    <div>
                                                        <button type="button" class="submit" id="sendMessageButton" v-on:click="addProduct()">Create</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        function ShowImagePreview(input) {
            debugger;
            if (input.files && input.files[0]) {
                var fname = input.files[0].name;
                var re = /(\.jpg|\.jpeg|\.bmp|\.gif|\.png)$/i;
                if (!re.exec(fname)) {
                    alert("Image not supported!");
                    $("#fileupload").val("");

                    return false;
                }
                else {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#imagePreview').prop('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
        }

        let PCapp = new Vue({
            //el: "#ProductCreate",

            data:
            {
                product: [],
                productFields:{
                    //productId: null,
                    productName: null,
                    category: null,
                    picturePath: null,
                    price: null,
                    discount: null,
                    sellingPrice: null,
                    tag: null,
                },
                
                //selectedOption:"",
                //colors:
                //[
                //    {text: "Black", value:0},
                //    {text: "White", value:1},
                //    {text: "Brown", value:2},
                //    {text: "Red", value:3},
                //    {text: "Orange", value:4},
                //]

            },

            mounted: function () {
                var self = this;
                fetch("/Products/Create")
                    .then(function(response){return response.text()})
                    .then(function(result){
                        console.log(result);
                        self.product = result;
                    })
            },

            methods:
            {
                addProduct: function()
                {
                    let self = this;
                    var request = {};

                    request.ProductId = 0;  //Id是自動編號，非可填的欄位
                    request.ProductName = self.productName;
                    request.Color = self.color;
                    request.Size = self.size;
                    request.Category = self.category;
                    request.PicturePath = self.picturePath;
                    request.Price = self.price;
                    request.Discount = self.discount;
                    request.SellingPrice = self.sellingPrice;
                    request.Tag = self.tag;

                    fetch("/api/products/addproduct",{
                        method:"post",
                        body:JSON.stringify(request)
                    })
                        .then(function(response){return response.json()})
                        .then(function(result){
                            console.log(result);
                        })
                        .catch(error=> console.log(error))
                }
            }
        })

        //內容都跑完後再載入Vue
        document.addEventListener("DOMContentLoaded", () => {
            PCapp.$mount('#ProductCreate')
        })

    </script>
    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

