<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
﻿@model WuliKaWu.Data.Product
=======
﻿@model WuliKaWu.Models.ApiModel.ProductModel
>>>>>>> [更新]商品之 新增/首頁/搭配/商品明細 檢視頁面標題及樣板微調
=======
﻿
>>>>>>> [更新]商品新增的檢視頁面以Vue綁定(按鍵功能尚未完成)

>>>>>>> [更新] 資料庫資料表
@{
    ViewData["Title"] = "商品新增";
}

<<<<<<< HEAD

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<div class="ProductCreate" id="app">
    <div class="container m-5">
        <div class="section-title-4 text-center mb-55" data-aos="fade-up" data-aos-delay="200">
            <h2>Create Product</h2>
        </div>
        <div class="shop-bottom-area">
            <div class="tab-content jump">
                <div class="shop-list-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                    <div class="row billing-info-wrap">
                        @*商品欄位*@
                        <div class="col-lg-12 col-sm-12 contact-form-style">
                            <div class="shop-list-content">
                                <div class="row">
                                    <div class="col-6 ">
                                        <div class="billing-info">
                                            <label id="ProductName" class="control-label">ProductName</label>
                                            <input for="ProductName" class="form-control" v-model="productFields.productName"/>
                                        </div>
                                        <div class="billing-select select-style">
                                            <label for="Color" class="control-label">Color</label>
                                            <select id="Color" class="form-control" v-model="productFields.colorIds" multiple>
                                                <option v-for="item in optionSource.color" :value="item.id">
                                                    {{item.type}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="billing-select select-style">
                                            <label for="Size" class="control-label">Size</label>
                                            <select id="Size" class="form-control" v-model="productFields.sizeId">
                                                <option v-for="item in optionSource.size" :value="item.id">
                                                    {{item.type}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="billing-select select-style">
                                            <label for="Category" class="control-label">Category</label>
                                            <select id="Category" class="form-control" v-model="productFields.categoryId">
                                                <option v-for="item in optionSource.category" :value="item.id">
                                                    {{item.type}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="billing-info">
                                            <label for="Price" class="control-label">Price</label>
                                            <input id="Price"  class="form-control" v-model="productFields.price" />
                                        </div>
                                        <div class="billing-info">
                                            <label for="Comment" class="control-label">Comment</label>
                                            <input id="Comment" class="form-control" v-model="productFields.comment"/>
                                        </div>
                                        <div class="billing-info">
                                            <label for="SellingPrice" class="control-label">SellingPrice</label>
                                            <input id="SellingPrice" class="form-control" v-model="productFields.sellingPrice"/>
                                        </div>
                                        <div class="billing-select select-style">
                                            <label for="Tag" class="control-label">Tag</label>
                                            <select id="Tag" class="form-control" v-model="productFields.tagIds" multiple>
                                                <option v-for="item in optionSource.tag" :value="item.id">
                                                    {{item.type}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*商品圖片*@
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="PicturePath" class="control-label">Picture</label>
                                <input for="PicturePath" class="form-control" name="PicturePath" type="file" id="fileupload" @@change="uploadPic" multiple/>
                            </div>
                            <div class="product-list-img">
                                <div class="row">
                                    <div class="col-3" v-for="item in picPriview">
                                        <img :src="item" class="w-100 img-thumbnail" />
                                    </div>

=======
<div>
=======
<div class="app">
>>>>>>> [更新] 商品新增的檢視將顏色改為下拉選單
=======
<div class="ProductCreate">
>>>>>>> [更正] 給Vue綁定使用的id名稱
    <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2 data-aos="fade-up" data-aos-delay="200">Shop</h2>
                <ul data-aos="fade-up" data-aos-delay="400">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
            <img src="~/assets/images/banner/breadcrumb-1.png" alt="">
        </div>
        <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
            <img src="~/assets/images/banner/breadcrumb-2.png" alt="">
        </div>
    </div>

=======
<div class="ProductCreate">

>>>>>>> [修正] 將Product新增/編輯/刪除的檢視頁面之上方不需要的版面部分刪除
=======
﻿@{
    ViewData["Title"] = "Create";
}

<div class="ProductCreate" id="app">
>>>>>>> [修正]商品新增
    <div class="container m-5">
        <div class="section-title-4 text-center mb-55" data-aos="fade-up" data-aos-delay="200">
            <h2>Create Product</h2>
        </div>
        <div class="shop-bottom-area">
            <div class="tab-content jump">
                <div class="shop-list-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                    <div class="row billing-info-wrap">
                        @*商品欄位*@
                        <div class="col-lg-12 col-sm-12 contact-form-style">
                            <div class="shop-list-content">
                                <div class="row">
                                    <div class="col-6 ">
                                        <div class="billing-info">
                                            <label id="ProductName" class="control-label">ProductName</label>
                                            <input for="ProductName" class="form-control" v-model="productFields.productName"/>
                                        </div>
                                        <div class="billing-select select-style">
                                            <label for="Color" class="control-label">Color</label>
                                            <select id="Color" class="form-control" v-model="productFields.colorIds" multiple>
                                                <option v-for="item in optionSource.color" :value="item.id">
                                                    {{item.type}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="billing-select select-style">
                                            <label for="Size" class="control-label">Size</label>
                                            <select id="Size" class="form-control" v-model="productFields.sizeId">
                                                <option v-for="item in optionSource.size" :value="item.id">
                                                    {{item.type}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="billing-select select-style">
                                            <label for="Category" class="control-label">Category</label>
                                            <select id="Category" class="form-control" v-model="productFields.categoryId">
                                                <option v-for="item in optionSource.category" :value="item.id">
                                                    {{item.type}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="billing-info">
                                            <label for="Price" class="control-label">Price</label>
                                            <input id="Price"  class="form-control" v-model="productFields.price" />
                                        </div>
                                        <div class="billing-info">
                                            <label for="Comment" class="control-label">Comment</label>
                                            <input id="Comment" class="form-control" v-model="productFields.comment"/>
                                        </div>
                                        <div class="billing-info">
                                            <label for="SellingPrice" class="control-label">SellingPrice</label>
                                            <input id="SellingPrice" class="form-control" v-model="productFields.sellingPrice"/>
                                        </div>
                                        <div class="billing-select select-style">
                                            <label for="Tag" class="control-label">Tag</label>
                                            <select id="Tag" class="form-control" v-model="productFields.tagIds" multiple>
                                                <option v-for="item in optionSource.tag" :value="item.id">
                                                    {{item.type}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*商品圖片*@
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group mb-4">
                                <label for="PicturePath" class="control-label">Picture</label>
                                <input for="PicturePath" class="form-control" name="PicturePath" type="file" id="fileupload" @@change="uploadPic" multiple/>
                            </div>
                            <div class="product-list-img">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                                <a href="#">
                                    <img src="~/assets/images/product/product-5.png" id="imagePreview" alt="Product Style">
                                </a>

<<<<<<< HEAD
                                <div class="product-list-quickview">
                                    <button class="product-action-btn-2" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="pe-7s-look"></i>
                                    </button>
>>>>>>> [更新] 商品新增頁面套版調整完成，幫書嫻改CartModel及CartApiController
                                </div>
=======
                                @*                                <div class="product-list-quickview">
                                <button class="product-action-btn-2" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="pe-7s-look"></i>
                                </button>
                                </div>*@
>>>>>>> [更新]微調檢視頁面(商品新增/商品明細/layout)及ProductController
                            </div>

                            <div class="mt-5">
<<<<<<< HEAD
                                <a href="/Products/Index">Back to List</a>
                            </div>
                        </div>
                        @*商品新增按鍵*@
                        <div class="col-lg-12 col-md-3 ms-60 p-80 contact-form-style">
                            <div class="col-lg-12 col-md-12 col-12 p-4 pe-0 contact-us-btn btn-hover">
                                <div>
                                    <button type="button" class="submit" id="sendMessageButton" @@click="insertProduct()">Create</button>
                                </div>
=======
                                <a asp-action="Index">Back to List</a>
=======
                                <a>
                                    <img src="/images/product-5.png" id="imagePreview" alt="Product Style">
                                </a>                                   
=======
                                <a> <img src="/images/product-5.png" id="imagePreview" alt="Product Style" width="100%" height="100%"> </a>
>>>>>>> [更新]商品新增檢視頁面的圖片預覽及修改Match檢視中的圖片區塊色彩
=======
                                <div class="row">
                                    <div class="col-3" v-for="item in picPriview">
                                        <img :src="item" class="w-100 img-thumbnail" />
                                    </div>

                                </div>
>>>>>>> [修正]商品新增
                            </div>

                            <div class="mt-5">
                                <a href="/Products/Index">Back to List</a>
>>>>>>> [更新]商品新增的檢視頁面以Vue綁定(按鍵功能尚未完成)
                            </div>
                        </div>
<<<<<<< HEAD

                        @*商品欄位*@
                        <div class="col-lg-8 col-sm-7 contact-form-style">
                            <div class="shop-list-content">
                                <form action="/Products/Create" method="post">
                                    <div class="row mt-4">
                                        <div class="col-6 ">
                                            <div class="form-group" hidden>
                                                <label for="ProductId" class="control-label">ProductId</label>
                                                <input for="ProductId" id="ProductId" name="ProductId" class="form-control" v-model="productFields.productId" />
                                            </div>

                                            <div class="form-group">
                                                <label for="ProductName" class="control-label">ProductName</label>
                                                <input for="ProductName" class="form-control" v-model="productFields.productName" placeholder="Please Enter ProductName" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Color" class="control-label">Color</label>
                                                <input for="Color" id="Color" name="Color" class="form-control" v-model="productFields.color" placeholder="Please Enter Color" />
                                            </div>

                                            @*<div class="shop-sorting-area form-group">
                                            <label for="Color" class="control-label">Color</label>
                                            <select v-model="productFields.color">
                                            <option value="-1">---Choose---</option>
                                            <option v-for="color in colorChoice" :key="color.value" :value="color.value">{{color.text}}</option>
                                            </select>
                                            </div>*@
                                        
                                            <div class="form-group">
                                                <label for="Size" class="control-label">Size</label>
                                                <input for="Size" id="Size" name="Size" class="form-control" v-model="productFields.size" placeholder="Please Enter Size" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Category" class="control-label">Category</label>
                                                <input for="Category" id="Category" name="Category" class="form-control" v-model="productFields.category" placeholder="Please Enter Category" />
                                            </div>


                                        </div>

                                        <div class="col-6">

                                            <div class="form-group">
                                                <label for="Price" class="control-label">Price</label>
                                                <input for="Price" id="Price" name="Price" class="form-control" v-model="productFields.price" placeholder="Please Enter Price" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Discount" class="control-label">Discount</label>
                                                <input for="Discount" id="Discount" name="Discount" class="form-control" v-model="productFields.discount" placeholder="Please Enter Discount" />
                                            </div>

                                            <div class="form-group">
                                                <label for="SellingPrice" class="control-label">SellingPrice</label>
                                                <input for="SellingPrice" id="SellingPrice" name="SellingPrice" class="form-control" v-model="productFields.sellingPrice" placeholder="Please Enter SellingPrice" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Tag" class="control-label">Tag</label>
                                                <input for="Tag" id="Tag" name="Tag" class="form-control" v-model="productFields.tag" placeholder="Please Enter Tag" />
                                            </div>

                                            @*商品新增按鍵*@
                                            <div class="col-lg-12 col-md-3 ms-60 p-80 contact-form-style">
                                                <div class="col-lg-12 col-md-12 col-12 p-4 pe-0 contact-us-btn btn-hover">
                                                    <div>
                                                        <button type="button" class="submit" id="sendMessageButton" @@click="insertProduct()">Create</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
>>>>>>> [更新] 商品新增頁面套版調整完成，幫書嫻改CartModel及CartApiController
=======
                        @*商品新增按鍵*@
                        <div class="col-lg-12 col-md-3 ms-60 p-80 contact-form-style">
                            <div class="col-lg-12 col-md-12 col-12 p-4 pe-0 contact-us-btn btn-hover">
                                <div>
                                    <button type="button" class="submit" id="sendMessageButton" @@click="insertProduct()">Create</button>
                                </div>
>>>>>>> [修正]商品新增
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD

<<<<<<< HEAD
<<<<<<< HEAD
@section Scripts {

    <script>
        let app = new Vue({
            el: "#app",
            data:
            {
                optionSource: {
                    category: [],
                    color:[],
                    size:[],
                    tag:[]
                },
                productFields: {                    
                    productName: "",
                    price: "",
                    categoryId: "",
                    sizeId:"",
                    colorIds:[],
                    sellingPrice: "",
                    tagIds: [],
                    comment: "",
                    picFiles:[]
                },
                picPriview:[]

            },
            mounted: function () {
                this.GetCategoryData();
                this.GetColorData();
                this.GetSizeData();
                this.GetTagData();                
            },
            methods:{
                uploadPic:function(e){
                    var self = this;
                    self.productFields.picFiles = e.target.files;
                    self.picPriview = [];
                    for (let fileData of self.productFields.picFiles) {
                        let reader = new FileReader();
                        reader.addEventListener("load", (event) => {
                            self.picPriview.push(event.target.result);
                        });
                        reader.readAsDataURL(fileData)
                    }                    
                },
                GetCategoryData: function () {
                    var self = this;
                    fetch("/api/category/getall")
                        .then(function (response) { return response.json() })
                        .then(function (result) { self.optionSource.category = result })
                },
                GetColorData: function () {
                    var self = this;
                    fetch("/api/color/getall")
                        .then(function (response) { return response.json() })
                        .then(function (result) { self.optionSource.color = result })
                },
                GetSizeData: function () {
                    var self = this;
                    fetch("/api/size/getall")
                        .then(function (response) { return response.json() })
                        .then(function (result) { self.optionSource.size = result })
                },
                GetTagData: function () {
                    var self = this;
                    fetch("/api/tag/getall")
                        .then(function (response) { return response.json() })
                        .then(function (result) { self.optionSource.tag = result })
                },
                insertProduct: function () {
                    let self = this;
                    var form = new FormData();
                    form.append("ProductName", self.productFields.productName);
                    form.append("Price", self.productFields.price);
                    form.append("CategoryId", self.productFields.categoryId);
                    form.append("SizeId", self.productFields.sizeId);                    
                    form.append("SellingPrice", self.productFields.sellingPrice);
                    form.append("comment", self.productFields.comment);
                    for (let id of self.productFields.colorIds){
                        form.append("ColorIds", id);
                    }
                    for (let id of self.productFields.tagIds) {
                        form.append("TagIds", id);
                    }
                    for (let file of self.productFields.picFiles) {
                        form.append("Pictures", file);
                    }

                    fetch("/api/product/addproduct", {
                        method: "POST",                       
                        body: form
                    })
                        .then(function (response) { return response.json() })
                        .then(function (result) {                            
                            var al =
                            {
                                position: "center",
                                icon: "success",
                                title: "Create Success!!",
                                showConfirmButton: false,
                                timer: 1500
                            }

                            if (!result.status) {
                                al.icon = "error";
                                al.title = "Create Failed!!";
                            }
                            Swal.fire(al)
                        })

                }
            }
        })
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
=======
</div>
=======
>>>>>>> 幫艾汶更改product的action



=======
</div>
>>>>>>> [更新]商品新增表格加上POST方法,商品刪除表格切版調整

@section Scripts {

    <script>
<<<<<<< HEAD

        //預覽圖片
        function ShowImagePreview(input) {
            debugger;
            if (input.files && input.files[0]) {
                var fname = input.files[0].name;
                var re = /(\.jpg|\.jpeg|\.bmp|\.gif|\.png)$/i;
                if (!re.exec(fname)) {
                    alert("Image not supported!");
                    $("#fileupload").val("");
                    return false;
                }
                else {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#imagePreview').prop('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
        }

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

        let PCapp = new Vue({
            el: "#ProductCreate",
            data:
            {
                selectedItem: ""
            }
=======
        //let PCapp = new Vue({
        //    el: "#ProductCreate",

        //    data:
        //    {
        //        selectedItem: ""
        //    }
>>>>>>> [修正]商品新增檢視頁面的按鍵綁定完成(但新增完導回的頁面仍要調整)
=======
        let PCapp = new Vue({
            //el: "#ProductCreate",

=======
        let app = new Vue({
            el: "#ProductCreate",
>>>>>>> [更新]商品新增檢視頁面的圖片預覽及修改Match檢視中的圖片區塊色彩
=======
        let app = new Vue({
            el: "#app",
>>>>>>> [修正]商品新增
            data:
            {
                optionSource: {
                    category: [],
                    color:[],
                    size:[],
                    tag:[]
                },
                productFields: {                    
                    productName: "",
                    price: "",
                    categoryId: "",
                    sizeId:"",
                    colorIds:[],
                    sellingPrice: "",
                    tagIds: [],
                    comment: "",
                    picFiles:[]
                },
                picPriview:[]

            },
            mounted: function () {
                this.GetCategoryData();
                this.GetColorData();
                this.GetSizeData();
                this.GetTagData();                
            },
            methods:{
                uploadPic:function(e){
                    var self = this;
                    self.productFields.picFiles = e.target.files;
                    self.picPriview = [];
                    for (let fileData of self.productFields.picFiles) {
                        let reader = new FileReader();
                        reader.addEventListener("load", (event) => {
                            self.picPriview.push(event.target.result);
                        });
                        reader.readAsDataURL(fileData)
                    }                    
                },
                GetCategoryData: function () {
                    var self = this;
                    fetch("/api/category/getall")
                        .then(function (response) { return response.json() })
                        .then(function (result) { self.optionSource.category = result })
                },
                GetColorData: function () {
                    var self = this;
                    fetch("/api/color/getall")
                        .then(function (response) { return response.json() })
                        .then(function (result) { self.optionSource.color = result })
                },
                GetSizeData: function () {
                    var self = this;
                    fetch("/api/size/getall")
                        .then(function (response) { return response.json() })
                        .then(function (result) { self.optionSource.size = result })
                },
                GetTagData: function () {
                    var self = this;
                    fetch("/api/tag/getall")
                        .then(function (response) { return response.json() })
                        .then(function (result) { self.optionSource.tag = result })
                },
                insertProduct: function () {
                    let self = this;
                    var form = new FormData();
                    form.append("ProductName", self.productFields.productName);
                    form.append("Price", self.productFields.price);
                    form.append("CategoryId", self.productFields.categoryId);
                    form.append("SizeId", self.productFields.sizeId);                    
                    form.append("SellingPrice", self.productFields.sellingPrice);
                    form.append("comment", self.productFields.comment);
                    for (let id of self.productFields.colorIds){
                        form.append("ColorIds", id);
                    }
                    for (let id of self.productFields.tagIds) {
                        form.append("TagIds", id);
                    }
                    for (let file of self.productFields.picFiles) {
                        form.append("Pictures", file);
                    }

                    fetch("/api/product/addproduct", {
                        method: "POST",                       
                        body: form
                    })
                        .then(function (response) { return response.json() })
                        .then(function (result) {                            
                            var al =
                            {
                                position: "center",
                                icon: "success",
                                title: "Create Success!!",
                                showConfirmButton: false,
                                timer: 1500
                            }

                            if (!result.status) {
                                al.icon = "error";
                                al.title = "Create Failed!!";
                            }
                            Swal.fire(al)
                        })

                }
            }
        })
<<<<<<< HEAD
>>>>>>> [更新]商品新增的檢視頁面以Vue綁定(按鍵功能尚未完成)

        ////內容都跑完後再載入Vue
        //document.addEventListener("DOMContentLoaded", () => {
        //    PCapp.$mount('#ProductCreate')
        //})

    </script>
<<<<<<< HEAD
>>>>>>> [更新] 商品新增頁面套版調整完成，幫書嫻改CartModel及CartApiController
=======
    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
>>>>>>> [更新]商品新增的檢視頁面以Vue綁定(按鍵功能尚未完成)
=======
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
>>>>>>> [修正]商品新增
}

