

@{
    ViewData["Title"] = "Delete";
}


<div id="deleteProduct">
    <div class="container m-5 mb-2">
        @*表頭*@
        <div class="section-title-4 text-center mb-55" data-aos="fade-up" data-aos-delay="200">
            <h2>Delete Product</h2>
            <div class="section-title-4 text-center mb-50 mt-3" data-aos="fade-up" data-aos-delay="200">
                <h5>Make Sure Before You Click Delete Button!</h5>
            </div>
        </div>

        @*商品區塊*@
        <div class="compare-page-wrapper pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Content Start -->
                        <div class="compare-page-content-wrap">
                            <span class="compare-table table-responsive">
                                <table class="table table-bordered mb-0">
                                    <tbody>
                                        <tr>
                                            <td class="first-column col-3"></td>
                                            @*商品圖片*@
                                            <td class="product-list-img">
                                                <div class="col-5">
                                                    <img class="img-fluid" :src="productFields.pictures[0]" alt="Product Picture" multiple />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="first-column">Name</td>
                                            <td class="title">{{productFields.productName}}</td>
                                        </tr>
                                        <tr>
                                            <td class="first-column">Color</td>
                                            <td class="pro-color">{{productFields.colors.map(x=>x.type).join(',')}}</td>
                                        </tr>
                                        <tr>
                                            <td class="first-column">Size</td>
                                            <td class="pro-stock">{{productFields.size.type}}</td>
                                        </tr>
                                        <tr>
                                            <td class="first-column">Price</td>
                                            <td>
                                                <div class="product-price">
                                                    <span :class="{'old-price':productFields.discount}">${{productFields.price}}</span>
                                                    <span class="new-price" v-if="productFields.discount">${{productFields.sellingPrice}}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="first-column">Category</td>
                                            <td class="pro-stock">{{productFields.categoryName.categoryName}}</td>
                                        </tr>
                                        <tr>
                                            <td class="first-column">Tag</td>
                                            <td class="pro-stock"><span>{{productFields.tags.map(x=>x.type).join(',')}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                    <!-- Content End -->
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-30 ms-3">

        <div class="col-3 ms-5">
            <a href="/Products/Index" class="col-3">Back to List</a>
        </div>

        @*商品刪除按鍵*@
        <div class="col-7">
            <input type="hidden" />
            <button type="button" id="Delete" class="btn btn-danger" @@click="removeProduct(@ViewBag.id)">Delete</button>
        </div>

        <div class="col-1"></div>
    </div>

</div>

<script>

    let app = new Vue({
        
        el:"#deleteProduct",
        data: 
        {
            //product:[],
            productFields: {                    
                productId: "",
                productName: "",
                price: "",
                categoryName: "",
                size:"",
                colors:[],
                sellingPrice: "",
                tags: [],
                pictures:[],
            },

            picPriview:[],
        },
        
        mounted: function(){
            var self = this;
            fetch('/api/product/getbyid/'+'@ViewBag.id')
            .then(function(response){return response.json()})
            .then(function(result){
                console.log(result)
                self.productFields = result;
                self.productFields.productId = @ViewBag.id
                
                
            })

        },

        methods:
        {
            getPictures: function()
            {
                var self = this;
                fetch('/api/picture/getall')
                .then(function(response){return response.json()})
                .then(function(result){
                    return product.pictures = result
                })
            },

            removeProduct: function(id)
            {
                var self = this;
                //self.productFields.productId = @ViewBag.id
                let Id = self.productFields.productId;
                let qureyEditBaseUrl = '/api/product/deletebyid/' + Id;

                fetch(qureyEditBaseUrl, {
                    method: "POST",
                    body:JSON.stringify(self.productFields.productId),
                    headers:{'content-type':'application/json'}
                })
                .then(function(response){
                    console.log('~~~',response)
                    return response.json()
                })
                .then(function(result){
                    console.log(result.message);
                    var al = {
                        icon: 'success',
                        title: 'Delete Success!!!',
                        //text: result.message,
                        timer: 2000
                    };
                    if (!result.status) {
                        al.icon = "error";
                        al.title = "Delete Failed!!!";
                    }
                    Swal.fire(al)
                })
            }
        }
    
    })

</script>
