<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<div id="shopIndex">

    <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2 data-aos="fade-up" data-aos-delay="200">Shop</h2>
                <ul data-aos="fade-up" data-aos-delay="400">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><i class="ti-angle-right"></i></li>
                    <li>Shop</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
            <img src="~/assets/images/banner/09.png" alt="">
        </div>
        <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
            <img src="~/assets/images/banner/10.png" alt="">
        </div>
    </div>
    <div class="shop-area shop-page-responsive pt-100 pb-100">
        <div class="container">
            <div class="row flex-row-reverse">
                <div id="panel" class="col-lg-9">
<<<<<<< HEAD
                    <div class="shop-topbar-wrapper mb-40">

                        @*商品筆數顯示*@
                        <div class="shop-topbar-left">
                            <div class="showing-item">
                                <span>Showing {{min+1}}–{{max>products.length? products.length:max}} of {{products.length}} results</span>
                            </div>
                        </div>

                        @*右邊下拉選單*@
                        <div class="shop-topbar-right">
                            <div class="shop-sorting-area">
<<<<<<< HEAD
<<<<<<< HEAD
                                <select v-model="selectedItem">
                                    <option>Default Sorting</option>
                                    <option>Sort by popularity</option>
                                    <option>Sort by average rating</option>
                                    <option>Sort by latest</option>
=======
                                <select class="" v-model="selectedItem">
                                    <option value="1" >Default Sorting</option>
                                    <option value="2">Sort by popularity</option>
                                    <option value="3">Sort by average rating</option>
                                    <option value="4">Sort by latest</option>
>>>>>>> 123
=======
                                <select id="sortBy" name="sortBy" v-model="selectedIndex">
                                    <option value="0">----- Sort -----</option>
                                    <option value="1">Price High => Low</option>
                                    <option value="2">Price Low => High</option>
                                    @*<option value="3">Sort by latest</option>*@
>>>>>>> [修改]點擊篩選綁定完成(篩選條件更換時要刷新頁面才能再實現篩選的小bug待解決)
                                </select>
                            </div>
                            <div class="shop-view-mode nav">
                                <a class="active" href="#shop-1" data-bs-toggle="tab"><i class=" ti-layout-grid3 "></i> </a>
                                <a href="#shop-2" data-bs-toggle="tab" class=""><i class=" ti-view-list-alt "></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-bottom-area">
                        <div class="tab-content jump">
                            <div id="shop-1" class="tab-pane active">
                                <div class="row">
                                    @*一般商品顯示區塊*@
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12" v-for="product in filterProducts">
                                        <div class="product-wrap mb-35" data-aos="fade-up" data-aos-delay="200">
                                            <div class="product-img img-zoom mb-25">
                                                <a :href="getProductdetailsLink(product.productId)">
                                                    <img :src="product.pictures[0]" alt="product picture">
                                                </a>
                                                <div v-if="product.discount" class="product-badge badge-top badge-right badge-pink">
                                                    <span>-10%</span>
                                                </div>

                                                @*加入願望清單按鈕*@
                                                <div class="product-action-wrap">
                                                    <button class="product-action-btn-1" title="Wishlist" v-on:click="addToWishlist(product.productId)"><i class="pe-7s-like"></i></button>
                                                </div>
                                                @*加入購物車按鈕*@
                                                <div class="product-action-2-wrap">
                                                    <button class="product-action-btn-2" title="Add To Cart" v-on:click="addToCart(product.productId)"><i class="pe-7s-cart"></i> Add to cart</button>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h3><a :href="getProductdetailsLink(product.productId)">{{product.productName}}</a></h3>
                                                <div class="product-price">
                                                    <span :class="{'old-price':product.discount}">${{product.price}}</span>
                                                    <span class="new-price" v-if="product.discount">${{product.sellingPrice}} </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*分頁*@
                                <div class="pagination-style-1" data-aos="fade-up" data-aos-delay="200">
                                    <paginate :page-count="Math.ceil(products.length/countPerPage)"
                                              :page-range="10"
                                              :margin-pages="1"
                                              :click-handler="clickCallback"
                                              :prev-text="'Prev'"
                                              :next-text="'Next'"
                                              :container-class="'pagination'"
                                              :page-class="'page-item'">
                                        <span slot="prevContent"><i class=" ti-angle-double-left "></i></span>
                                        <span slot="nextContent"><i class=" ti-angle-double-right "></i></span>
                                    </paginate>
                                </div>
                            </div>
                            @*右上角條列式產品顯示區塊*@
                            <div id="shop-2" class="tab-pane">
                                <div class="shop-list-wrap mb-30" v-for="product in filterProducts">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                            <div class="product-list-img">
                                                <a :href="getProductdetailsLink(product.productId)">
                                                    <img :src="product.pictures[0]" alt="Product Style">
                                                </a>
                                                <div v-if="product.discount" class="product-list-badge badge-right badge-pink">
                                                    <span>-10%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-7">
                                            <div class="shop-list-content">
                                                <h3><a :href="getProductdetailsLink(product.productId)">{{product.productName}}</a></h3>
                                                <div class="product-price">
                                                    <span :class="{'old-price':product.discount}">${{product.price}}</span>
                                                    <span class="new-price" v-if="product.discount">${{product.sellingPrice}} </span>
                                                </div>
                                                <div class="product-list-rating">
                                                    <i class=" ti-star"></i>
                                                    <i class=" ti-star"></i>
                                                    <i class=" ti-star"></i>
                                                    <i class=" ti-star"></i>
                                                    <i class=" ti-star"></i>
                                                </div>
                                                @*<p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor labor incididunt ut et dolore magna aliqua.</p>*@
                                                <p>{{product.comment}}</p>
                                                @*加購物車/願望清單/商品比較*@
                                                <div class="product-list-action">
                                                    <button class="product-action-btn-3" title="Add to cart" v-on:click="addToCart(product.productId)"><i class="pe-7s-cart"></i></button>
                                                    <button class="product-action-btn-3" title="Wishlist" v-on:click="addToWishlist(product.productId)"><i class="pe-7s-like"></i></button>
                                                    @*<button class="product-action-btn-3" title="Compare"><i class="pe-7s-shuffle"></i></button>*@
                                                </div>
=======
﻿
=======
<div id="app">

>>>>>>> Productvue (#6)
<div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2 data-aos="fade-up" data-aos-delay="200">Shop</h2>
            <ul data-aos="fade-up" data-aos-delay="400">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><i class="ti-angle-right"></i></li>
                <li>Shop Sidebar</li>
            </ul>
=======
<div id="shopIndex">

    <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2 data-aos="fade-up" data-aos-delay="200">Shop</h2>
                <ul data-aos="fade-up" data-aos-delay="400">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><i class="ti-angle-right"></i></li>
                    <li>Shop</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
            <img src="~/assets/images/banner/breadcrumb-1.png" alt="">
        </div>
        <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
            <img src="~/assets/images/banner/breadcrumb-2.png" alt="">
>>>>>>> [修正] ProductsController Action Method 命名規則與添加生成智慧文件說明的註解，修正分頁使用的高亮度背景 CSS 樣式，修正 Product 使用 Grid Sidebar 樣版首頁的檢視頁面
        </div>
    </div>
    <div class="shop-area shop-page-responsive pt-100 pb-100">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
=======
>>>>>>> 小精靈的祝福
                    <div class="shop-topbar-wrapper mb-40">

                        @*商品筆數顯示*@
                        <div class="shop-topbar-left">
                            <div class="showing-item">
                                <span>Showing {{min+1}}–{{max+1}} of {{products.length}} results</span>
                            </div>
                        </div>

                        @*右邊下拉選單*@
                        <div class="shop-topbar-right">
                            <div class="shop-sorting-area">
                                <select v-model="selectedItem">
                                    <option>Default Sorting</option>
                                    <option>Sort by popularity</option>
                                    <option>Sort by average rating</option>
                                    <option>Sort by latest</option>
                                </select>
                            </div>
                            <div class="shop-view-mode nav">
                                <a class="active" href="#shop-1" data-bs-toggle="tab"><i class=" ti-layout-grid3 "></i> </a>
                                <a href="#shop-2" data-bs-toggle="tab" class=""><i class=" ti-view-list-alt "></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-bottom-area">
                        <div class="tab-content jump">
                            <div id="shop-1" class="tab-pane active">
                                <div class="row">
                                    @*商品顯示區塊*@
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12" v-for="product in filterProducts">
                                        <div class="product-wrap mb-35" data-aos="fade-up" data-aos-delay="200">
                                            <div class="product-img img-zoom mb-25">
                                                <a :href="getProductdetailsLink(product.productId)">
                                                    <img :src="product.pictures[0]" alt="product picture">
                                                </a>
<<<<<<< HEAD
                                            </h3>
                                            <div class="product-price">
                                                <span :class="{'old-price':prouct.discount}">${{product.price}}</span>
                                                <span class="new-price" v-if="product.discount">${{product.sellingPrice}} </span>
>>>>>>> 套版到Product的Index 將原先的Index暫時先改為Index2 (目前破版ing)
                                            </div>
                                        </div>
                                    </div>
                                </div>
<<<<<<< HEAD
                                <div class="pagination-style-1">
                                    @*<ul>
                                    <li><a :class="{active:currentPage==n}" v-for="n in 10" href="#">{{n}}</a></li>
                                    <li><a class="next" href="#"><i class=" ti-angle-double-right "></i></a></li>
                                    </ul>*@
                                    <paginate :page-count="Math.ceil(products.length/countPerPage)"
                                              :page-range="10"
                                              :margin-pages="1"
                                              :click-handler="clickCallback"
                                              :prev-text="'Prev'"
                                              :next-text="'Next'"
                                              :container-class="'pagination'"
                                              :page-class="'page-item'">
                                        <span slot="prevContent"><i class=" ti-angle-double-left "></i></span>
                                        <span slot="nextContent"><i class=" ti-angle-double-right "></i></span>
                                    </paginate>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*左側欄位*@
                <div class="col-lg-3">
                    <div class="sidebar-wrapper">
                        @*商品搜尋*@
                        <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                            <div class="search-wrap-2">
                                <form class="search-2-form" action="#">
                                    <input placeholder="Search*" type="text" v-model="searchText">
                                    <button class="button-search" @@click="search"><i class=" ti-search "></i></button>
                                </form>
                            </div>
                        </div>

<<<<<<< HEAD
                        @*價格篩選*@
                        <div class="sidebar-widget sidebar-widget-border mb-40 pb-35" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title mb-30">
                                <h3>Filter By Price</h3>
                            </div>
                            <div class="price-filter">
                                <div id="slider-range"></div>
                                <div class="price-slider-amount">
                                    <div class="label-input">
                                        <label>Price:</label>
                                        <input type="text" id="amount" name="price" :value="selectedPriceRange" placeholder="Add Your Price" />
=======

                                    <div class="pagination-style-1">
                                        <paginate :page-count="Math.ceil(products.length/countPerPage)"
                                                  :page-range="10"
                                                  :margin-pages="1"
                                                  :click-handler="clickCallback"
                                                  :prev-text="'Prev'"
                                                  :next-text="'Next'"
                                                  :container-class="'pagination'"
                                                  :page-class="'page-item'">
                                            <span slot="prevContent"><i class=" ti-angle-double-left "></i></span>
                                            <span slot="nextContent"><i class=" ti-angle-double-right "></i></span>
                                        </paginate>
>>>>>>> 123
                                    </div>
                                    <button type="button">Filter</button>
=======
@*                                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                    <div class="product-wrap mb-35" data-aos="fade-up" data-aos-delay="400">
                                        <div class="product-img img-zoom mb-25">
                                            <a asp-controller="Home" asp-action="ProductDetails">
                                                <img src="~/assets/images/product/product-6.png" alt="">
                                            </a>
                                            <div class="product-action-wrap">
                                                <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <i class="pe-7s-look"></i>
                                                </button>
                                            </div>
                                            <div class="product-action-2-wrap">
                                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a asp-controller="Home" asp-action="ProductDetails">Stylish Dining Chair</a></h3>
                                            <div class="product-price">
                                                <span>$50.25 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                    <div class="product-wrap mb-35" data-aos="fade-up" data-aos-delay="600">
                                        <div class="product-img img-zoom mb-25">
                                            <a asp-controller="Home" asp-action="ProductDetails">
                                                <img src="~/assets/images/product/product-7.png" alt="">
                                            </a>
                                            <div class="product-badge badge-top badge-right badge-pink">
                                                <span>-10%</span>
                                            </div>
                                            <div class="product-action-wrap">
                                                <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <i class="pe-7s-look"></i>
                                                </button>
                                            </div>
                                            <div class="product-action-2-wrap">
                                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a asp-controller="Home" asp-action="ProductDetails">Round Standard Chair</a></h3>
                                            <div class="product-price">
                                                <span class="old-price">$45.00 </span>
                                                <span class="new-price">$40.00 </span>
=======
                                                <div v-if="product.discount" class="product-badge badge-top badge-right badge-pink">
                                                    <span>-10%</span>
                                                </div>

                                                @*加入願望清單按鈕*@
                                                <div class="product-action-wrap">
                                                    <button class="product-action-btn-1" title="Wishlist" v-on:click="addToWishlist(product.productId)"><i class="pe-7s-like"></i></button>
                                                </div>
                                                @*加入購物車按鈕*@
                                                <div class="product-action-2-wrap">
                                                    <button class="product-action-btn-2" title="Add To Cart" v-on:click="addToCart(product.productId)"><i class="pe-7s-cart"></i> Add to cart</button>
                                                </div>
                                            </div>

                                            <div class="product-content">
                                                <h3><a :href="getProductdetailsLink(product.productId)">{{product.productName}}</a></h3>
                                                <div class="product-price">
                                                    <span :class="{'old-price':product.discount}">${{product.price}}</span>
                                                    <span class="new-price" v-if="product.discount">${{product.sellingPrice}} </span>
                                                </div>
>>>>>>> [修正] ProductsController Action Method 命名規則與添加生成智慧文件說明的註解，修正分頁使用的高亮度背景 CSS 樣式，修正 Product 使用 Grid Sidebar 樣版首頁的檢視頁面
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*分頁*@
                                <div class="pagination-style-1" data-aos="fade-up" data-aos-delay="200">
                                    <paginate :page-count="Math.ceil(products.length/countPerPage)"
                                              :page-range="10"
                                              :margin-pages="1"
                                              :click-handler="clickCallback"
                                              :prev-text="'Prev'"
                                              :next-text="'Next'"
                                              :container-class="'pagination'"
                                              :page-class="'page-item'">
                                        <span slot="prevContent"><i class=" ti-angle-double-left "></i></span>
                                        <span slot="nextContent"><i class=" ti-angle-double-right "></i></span>
                                    </paginate>
                                </div>
                            </div>
                            <div id="shop-2" class="tab-pane">
                                <div class="shop-list-wrap mb-30" v-for="product in filterProducts">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                            <div class="product-list-img">
                                                <a asp-controller="Home" asp-action="ProductDetails">
                                                    <img src="~/assets/images/product/product-5.png" alt="Product Style">
                                                </a>
                                                <div v-if="product.discount" class="product-list-badge badge-right badge-pink">
                                                    <span>-20%</span>
                                                </div>
                                                @*                                                <div class="product-list-quickview">
                                                <button class="product-action-btn-2" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="pe-7s-look"></i>
                                                </button>
                                                </div>*@
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-7">
                                            <div class="shop-list-content">
                                                <h3><a asp-controller="Home" asp-action="ProductDetails"><span style="color:red">{{product.productName}}</span></a></h3>
                                                <div class="product-price">
                                                    <span :class="{'old-price':product.discount}">${{product.price}}</span>
                                                    <span class="new-price" v-if="product.discount">${{product.sellingPrice}} </span>
                                                </div>
                                                <div class="product-list-rating">
                                                    <i class=" ti-star"></i>
                                                    <i class=" ti-star"></i>
                                                    <i class=" ti-star"></i>
                                                    <i class=" ti-star"></i>
                                                    <i class=" ti-star"></i>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor labor incididunt ut et dolore magna aliqua.</p>
                                                <div class="product-list-action">
                                                    <button class="product-action-btn-3" title="Add to cart"><i class="pe-7s-cart"></i></button>
                                                    <button class="product-action-btn-3" title="Wishlist"><i class="pe-7s-like"></i></button>
                                                    <button class="product-action-btn-3" title="Compare"><i class="pe-7s-shuffle"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*分頁*@
                                <div class="pagination-style-1">
                                    <paginate :page-count="Math.ceil(products.length/countPerPage)"
                                              :page-range="10"
                                              :margin-pages="1"
                                              :click-handler="clickCallback"
                                              :prev-text="'Prev'"
                                              :next-text="'Next'"
                                              :container-class="'pagination'"
                                              :page-class="'page-item'">
                                        <span slot="prevContent"><i class=" ti-angle-double-left "></i></span>
                                        <span slot="nextContent"><i class=" ti-angle-double-right "></i></span>
                                    </paginate>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*左側欄位*@
                <div class="col-lg-3">
                    <div class="sidebar-wrapper">
                        @*商品搜尋*@
                        <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                            <div class="search-wrap-2">
                                <form class="search-2-form" action="#">
                                    <input placeholder="Search*" type="text" v-model="searchText">
                                    <button class="button-search" @@click="search"><i class=" ti-search "></i></button>
                                </form>
                            </div>
                        </div>

                        @*價格篩選*@
                        <div class="sidebar-widget sidebar-widget-border mb-40 pb-35" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title mb-30">
                                <h3>Filter By Price</h3>
                            </div>
                            <div class="price-filter">
                                <div id="slider-range"></div>
                                <div class="price-slider-amount">
                                    <div class="label-input">
                                        <label>Price:</label>
                                        <input type="text" id="amount" name="price" :value="selectedPriceRange" placeholder="Add Your Price" />
                                    </div>
                                    <button type="button">Filter</button>
                                </div>
                            </div>
                        </div>

                        @*分類篩選*@
                        <div class="sidebar-widget sidebar-widget-border mb-40 pb-35" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title mb-25">
                                <h3>Product Categories</h3>
                            </div>
                            <div class="sidebar-list-style">
                                <ul>
                                    <li v-for="item in optionSource.category"><a @@click="selectedCategory=item.id">{{item.type}}<span>{{showCount('category',item.id)}}</span></a></li>
                                </ul>
                            </div>
                        </div>
<<<<<<< HEAD
<<<<<<< HEAD
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sidebar-wrapper">
                    <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                        <div class="search-wrap-2">
                            <form class="search-2-form" action="#">
                                <input placeholder="Search*" type="text">
                                <button class="button-search"><i class=" ti-search "></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget sidebar-widget-border mb-40 pb-35" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title mb-30">
                            <h3>Filter By Price</h3>
                        </div>
                        <div class="price-filter">
                            <div id="slider-range"></div>
                            <div class="price-slider-amount">
                                <div class="label-input">
                                    <label>Price:</label>
                                    <input type="text" id="amount" name="price" placeholder="Add Your Price" />
>>>>>>> 套版到Product的Index 將原先的Index暫時先改為Index2 (目前破版ing)
                                </div>
                                <button type="button">Filter</button>
                            </div>
                        </div>

                        @*分類篩選*@
                        <div class="sidebar-widget sidebar-widget-border mb-40 pb-35" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title mb-25">
                                <h3>Product Categories</h3>
                            </div>
                            <div class="sidebar-list-style">
                                <ul>
                                    <li v-for="item in optionSource.category"><a >{{item.type}}<span>{{showCount('category',item.id)}}</span></a></li>
                                </ul>
                            </div>
                        </div>

                        @*顏色篩選*@
                        <div class="sidebar-widget sidebar-widget-border mb-40 pb-35" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title mb-25">
                                <h3>Choose Colour</h3>
                            </div>
                            <div class="sidebar-list-style">
                                <ul>
                                    <li v-for="item in optionSource.color"><a @@click="selectedColor=item.id">{{item.type}}<span>{{showCount('color',item.id)}}</span></a></li>
                                </ul>
                            </div>
                        </div>

                        @*尺寸篩選*@
=======
=======

                        @*顏色篩選*@
>>>>>>> [新增]加入summary以及註記
                        <div class="sidebar-widget sidebar-widget-border mb-40 pb-35" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title mb-25">
                                <h3>Choose Colour</h3>
                            </div>
                            <div class="sidebar-widget-color sidebar-list-style">
                                <ul>
                                    <li v-for="item in optionSource.color"><a>{{item.type}}<span>{{showCount('color',item.id)}}</span></a></li>
                                </ul>
                            </div>
                        </div>
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> [修正] ProductsController Action Method 命名規則與添加生成智慧文件說明的註解，修正分頁使用的高亮度背景 CSS 樣式，修正 Product 使用 Grid Sidebar 樣版首頁的檢視頁面
=======
                        
=======

>>>>>>> 修改wishlist
                        @*尺寸篩選*@
>>>>>>> [新增]加入summary以及註記
                        <div class="sidebar-widget sidebar-widget-border mb-40 pb-35" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title mb-25">
                                <h3>Size</h3>
                            </div>
                            <div class="sidebar-widget-size sidebar-list-style">
                                <ul>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                                    <li v-for="item in optionSource.size"><a href="#panel" @@click="selectSize(item.type)">{{item.type}} <span>{{showCount('size',item.id)}}</span></a></li>
=======
                                    <li v-for="item in optionSource.size"><a href="#panel" @@click="selectSize(item.id)">{{item.type}} <span>{{showCount('size',item.id)}}</span></a></li>
>>>>>>> [修改]點擊篩選綁定完成(篩選條件更換時要刷新頁面才能再實現篩選的小bug待解決)
                                </ul>
                            </div>
                        </div>

                        @*標籤篩選*@
                        <div class="sidebar-widget" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title mb-25">
                                <h3>Tags</h3>
                            </div>
                            <div class="sidebar-widget-tag">
                                @*<a v-for="item in optionSource.tag" @@click="selectedTag.id">{{item.type}}</a>*@
                                <span v-for="item in optionSource.tag"><a @@click="selectedTag=item.id">{{item.type}}</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget sidebar-widget-border mb-40 pb-35" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title mb-25">
                            <h3>Product Categories</h3>
                        </div>
                        <div class="sidebar-list-style">
                            <ul>
                                <li><a asp-controller="Home" asp-action="Shop">Accessories <span>4</span></a></li>
                                <li><a asp-controller="Home" asp-action="Shop">Book <span>9</span></a></li>
                                <li><a asp-controller="Home" asp-action="Shop">Clothing <span>5</span></a></li>
                                <li><a asp-controller="Home" asp-action="Shop">Homelife <span>3</span></a></li>
                                <li><a asp-controller="Home" asp-action="Shop">Kids & Baby <span>4</span></a></li>
                                <li><a asp-controller="Home" asp-action="Shop">Stationery <span>8</span></a></li>
                                <li><a asp-controller="Home" asp-action="Shop">Health & Beauty <span>3</span></a></li>
                                <li><a asp-controller="Home" asp-action="Shop">Home Appliances <span>4</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget sidebar-widget-border mb-40 pb-35" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title mb-25">
                            <h3>Choose Colour</h3>
                        </div>
                        <div class="sidebar-widget-color sidebar-list-style">
                            <ul>
                                <li><a class="black" href="#">Black <span>4</span></a></li>
                                <li><a class="blue" href="#">Blue <span>9</span></a></li>
                                <li><a class="brown" href="#">Brown <span>5</span></a></li>
                                <li><a class="red" href="#">Red <span>3</span></a></li>
                                <li><a class="orange" href="#">Orange <span>4</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget sidebar-widget-border mb-40 pb-35" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title mb-25">
                            <h3>Size</h3>
                        </div>
                        <div class="sidebar-widget-size sidebar-list-style">
                            <ul>
                                <li><a href="#">XL <span>4</span></a></li>
                                <li><a href="#">M <span>9</span></a></li>
                                <li><a href="#">LM <span>5</span></a></li>
                                <li><a href="#">L <span>3</span></a></li>
                                <li><a href="#">ML <span>4</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title mb-25">
                            <h3>Tags</h3>
=======
                                    <li><a href="#">XL <span>4</span></a></li>
                                    <li><a href="#">M <span>9</span></a></li>
                                    <li><a href="#">LM <span>5</span></a></li>
                                    <li><a href="#">L <span>3</span></a></li>
                                    <li><a href="#">ML <span>4</span></a></li>
=======
                                    <li v-for="item in sizeList"><a href="#panel" @@click="selectSize(item.text)">{{item.text}} <span>{{item.count}}</span></a></li>                                    
>>>>>>> 小精靈的祝福
=======
                                    <li v-for="item in sizeList"><a href="#panel" @@click="selectSize(item.text)">{{item.text}} <span>{{item.count}}</span></a></li>
>>>>>>> 修改wishlist
=======
                                    <li v-for="item in optionSource.size"><a href="#panel" @@click="selectSize(item.type)">{{item.type}} <span>{{showCount('size',item.id)}}</span></a></li>
>>>>>>> fix product index filter tag and size
                                </ul>
                            </div>
>>>>>>> [修正] ProductsController Action Method 命名規則與添加生成智慧文件說明的註解，修正分頁使用的高亮度背景 CSS 樣式，修正 Product 使用 Grid Sidebar 樣版首頁的檢視頁面
                        </div>

                        @*標籤篩選*@
                        <div class="sidebar-widget" data-aos="fade-up" data-aos-delay="200">
                            <div class="sidebar-widget-title mb-25">
                                <h3>Tags</h3>
                            </div>
                            <div class="sidebar-widget-tag">
                                <a v-for="item in optionSource.tag">{{item.type}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<<<<<<< HEAD
<<<<<<< HEAD

@section Scripts{

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 小精靈的祝福
    <script src="https://unpkg.com/vuejs-paginate@1.9.0"></script>
    <script>
        var groupBy = function (xs, key) {
            return xs.reduce(function (rv, x) {
                (rv[x[key]] = rv[x[key]] || []).push(x);
                return rv;
            }, {});
        };

        Vue.component('paginate', VuejsPaginate);
        let app = new Vue({
            el: "#shopIndex",
<<<<<<< HEAD
            data: {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> product index filter-category
                optionSource:{
                    tag:[],
                    color:[],
                    size:[],
                    category:[]
=======
=======
            data: {                                   
>>>>>>> [修改]點擊篩選綁定完成(篩選條件更換時要刷新頁面才能再實現篩選的小bug待解決)
                optionSource: {
                    tag: [],
                    color: [],
                    size: [],
                    category: []
>>>>>>> [新增] 首頁畫面顯示熱門與最新上架上品
                },
<<<<<<< HEAD
<<<<<<< HEAD
=======
                sizeList:[],
>>>>>>> 小精靈的祝福
=======
=======
>>>>>>> product index filter-category
                sizeList: [],
>>>>>>> 修改wishlist
=======
>>>>>>> fix product index filter tag and size
                searchText: "",
                products: [],
                currentPage: 1,
                countPerPage: 5,
                min: 0,
                max: 0,
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 修改wishlist
                selectedSize: "All",
                selectedCategory: "All",
                selectedColor: "All",
                selectedTag: "All",
                selectedIndex: 0,
                productdetailsLink: "/Products/Productdetails/",
<<<<<<< HEAD
<<<<<<< HEAD
=======
                //getPic:
                //{
                //    type: "string",
                //    default: "product-5.png"
                //},
>>>>>>> [修正] 商品的首頁及商品明細檢視頁面的圖片顯示路徑
=======
>>>>>>> product index filter-category
                priceRange: {
                    min: 0,
                    max: 100
                },
                product: {
                    productId: ""
                }
            },
            computed: {
                selectedPriceRange: function () {
                    return "$" + this.priceRange.min + " - $" + this.priceRange.max
                },
                filterProducts: function () {
                    let min = this.countPerPage * (this.currentPage - 1 <= 0 ? 0 : this.currentPage - 1);
                    let max = this.countPerPage * this.currentPage;
                    this.min = min;
                    this.max = max;
                    //console.log("min", min);
                    //console.log("max", max);
                    //console.log("page", this.currentPage)

                    return this.selectedItemStyle.slice(min, max)
                },
                selectedItemStyle: function () {
                    let temp = this.products;
                    //console.log("start", temp);
                    if (this.searchText.length > 0) {
                        temp = temp.filter(item => item.productName.includes(this.searchText));
                    }
<<<<<<< HEAD
=======
</div>
>>>>>>> Productvue (#6)

                    //price
=======
>>>>>>> [修改]點擊篩選綁定完成(篩選條件更換時要刷新頁面才能再實現篩選的小bug待解決)
                    temp = temp.filter(x => {
                        var price = x.sellingPrice == "" ? x.price : x.sellingPrice;
                        return price >= this.priceRange.min && price <= this.priceRange.max;
                    });

                    if (this.selectedSize != "All") {
                        temp = temp.filter(x => x.size === this.selectedSize);                       
                    }

                    if (this.selectedCategory != "All") {
                        temp = temp.filter(x => x.categoryId === this.selectedCategory);
                    }

                    if (this.selectedColor != "All"){
                        temp = temp.filter(x =>x.colors.includes(this.selectedColor));
                    }

                    if (this.selectedTag != "All"){
                        temp = temp.filter(x => x.tags.includes(this.selectedTag));
                    }

                    if (this.selectedIndex==1) {
                        temp = temp.sort((x, y) => {
                            let p = x.price ;
                            let s = y.price ;
                            if(x.sellingPrice != null)p = x.sellingPrice;
                            if(y.sellingPrice != null)s = y.sellingPrice;
                            return s-p;})
                    }

                    if(this.selectedIndex==2){
                        temp = temp.sort((x, y) => {
                            let p = x.price;
                            let s = y.price;
                            if (x.sellingPrice != null) p = x.sellingPrice;
                            if (y.sellingPrice != null) s = y.sellingPrice;
                            return p-s;})
                    }
                    //console.log("end", temp);
                    return temp;
                },
            },
<<<<<<< HEAD
            methods: {
                sortBy: function()
                {
                    let temp = this.products;
                    console.log("test");
                    console.log(this.selectedItem);
                    return this.filterProducts();
                },

                showCount: function (type, value) {
                    if (type == "category") {
                        return this.products.filter(x => x.categoryId == value).length;
                    }
                    if (type == "color") {
                        return this.products.filter(x => x.colors.find(y => y == value)).length
                    }
                    if (type == "tag") {
                        return this.products.filter(x => x.tag.find(y => y == value)).length
                    }
                    if (type == "size") {
                        return this.products.filter(x => x.size == value).length
                    }
                },
                selectSize: function (text) {
                    console.log(text);
                    this.selectedSize = text;
                },
                search: function () {
                },
                clickCallback: function (page) {
                    this.currentPage = page;
                    console.log(page)
                },
                getProductdetailsLink: function (productId) {
                    return this.productdetailsLink + productId
                },
                addToCart: function (productId) {
                    console.log("CPid:", productId)
                    this.queryCartBaseURL = '/api/cart/AddToCart/' + productId;
                    fetch(this.queryCartBaseURL, { method: "POST" })
                        .then(function (response) {
                            console.table(response)
                            let cartp = response
                            return response.json()
                        })
                        .then(function (result) {
                            var al = {
                                icon: 'sucess',
                                title: '成功',
                                text: result.message,
                                timer: 2000
                            };
                            if (!result.status) {
                                al.icon = "error";
                                al.title = "失敗";
                            }
                            Swal.fire(al)
                        })
                },
                addToWishlist: function (productId) {
                    console.log("WPid:", productId)
                    this.queryWishlistBaseURL = '/api/wishlist/AddWishList/' + productId;
                    fetch(this.queryWishlistBaseURL, { method: "POST" })
                        .then(function (response) {
                            console.table(response)
                            let wresp = response
                            return response.json()
                        })
                        .then(function (result) {
                            var al = {
                                icon: 'success',
                                title: '成功',
                                text: result.message,
                                timer: 2000
                            };
                            if (!result.status) {
                                al.icon = "error";
                                al.title = "失敗";
                            }
                            Swal.fire(al)
                        })

                },
                GetCategoryData: function () {
                    var self = this;
                    fetch("/api/category/getall")
                        .then(function (response) { return response.json() })
                        .then(function (result) { self.optionSource.category = result })
                },
                GetColorData: function () {
                    var self = this;
                    fetch("/api/color/getall")
                        .then(function (response) { return response.json() })
                        .then(function (result) { self.optionSource.color = result })
                },
                GetSizeData: function () {
                    var self = this;
                    fetch("/api/size/getall")
                        .then(function (response) { return response.json() })
                        .then(function (result) { self.optionSource.size = result })
                },
                GetTagData: function () {
                    var self = this;
                    fetch("/api/tag/getall")
                        .then(function (response) { return response.json() })
                        .then(function (result) { self.optionSource.tag = result })
                },
            },
            mounted: function () {
                var self = this;
                self.GetCategoryData();
                self.GetColorData();
                self.GetSizeData();
                self.GetTagData();
                fetch('/api/product/getall')
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        console.log(result);
                        self.products = result;
                        self.priceRange.max = Math.max(...self.products.map(x => x.price))

                        var sliderrange = $('#slider-range');
                        sliderrange.slider({
                            range: true,
                            min: self.priceRange.min,
                            max: self.priceRange.max,
                            values: [0, 3000],
                            slide: function (event, ui) {
                                self.priceRange.min = ui.values[0];
                                self.priceRange.max = ui.values[1];
                            }
                        });

                        //size
                        //var temp = groupBy(app.products, "size")
                        //var count = 0;
                        //for (let key of Object.keys(temp)) {
                        //    count += temp[key].length;
                        //    self.sizeList.push({
                        //        "text": key,
                        //        "count": temp[key].length
                        //    })
                        //}
                        //self.sizeList.push({
                        //    "text": "All",
                        //    "count": count
                        //})
<<<<<<< HEAD
                    });


<<<<<<< HEAD
=======
=======
>>>>>>> fix pic
<script src="https://unpkg.com/vuejs-paginate@1.9.0"></script>
<script>
    Vue.component('paginate', VuejsPaginate);
    let app = new Vue({
<<<<<<< HEAD
        el: "#app",
        data: {
            products: [],
            currentPage: 1,
            countPerPage:5,
            min:0,
            max:0,
            selectedItem:"2"
        },
        computed: {
            filterProducts:function(){
                var min = this.countPerPage * (this.currentPage - 1 <= 0 ? 0 : this.currentPage - 1);
                var max = this.countPerPage * this.currentPage;
                this.min = min;
                this.max = max;
                return this.selectedItemStyle.slice(min, max)
=======

@section Scripts{

    <script src="https://unpkg.com/vuejs-paginate@1.9.0"></script>
    <script>
        Vue.component('paginate', VuejsPaginate);
        let app = new Vue({
            el: "#shopIndex",
            data: {
                products: [],
                currentPage: 1,
                countPerPage: 5,
                min: 0,
                max: 0,
<<<<<<< HEAD
<<<<<<< HEAD
                selectedItem: "2"
>>>>>>> [修正] ProductsController Action Method 命名規則與添加生成智慧文件說明的註解，修正分頁使用的高亮度背景 CSS 樣式，修正 Product 使用 Grid Sidebar 樣版首頁的檢視頁面
=======
                selectedItem: "2",
                queryWishlistBaseURL: null,
>>>>>>> [新增]method : addtowishlist(已完成)、addtocart(尚未完成)
=======
                selectedItem: "2",
                productdetailsLink: "/Products/Productdetails/",
                getPic: 
=======
                selectedSize:"All",
                selectedItem: "2",
                productdetailsLink: "/Products/Productdetails/",
                getPic:
>>>>>>> 小精靈的祝福
                {
                    type: "string",
                    default: "product-5.png"
                },
<<<<<<< HEAD
>>>>>>> [新增]商品首頁檢視頁面的getProductdetailLink及getPicPath的method(但getPicPath目前還不能連動)
=======
        el: "#shopIndex",
        data: {
            products: [],
            currentPage: 1,
            countPerPage: 5,
            min: 0,
            max: 0,
            selectedItem: "2",
            productdetailsLink: "/Products/Productdetails/",
            getPic:
            {
                type: "string",
                default: "product-5.png"
>>>>>>> fix pic
            },
            priceRange:{
                min:0,
                max:100
            }
        },
        computed: {
            selectedPriceRange:function(){
                return "$" + this.priceRange.min + " - $" + this.priceRange.max
            },
            filterProducts: function () {
                var min = this.countPerPage * (this.currentPage - 1 <= 0 ? 0 : this.currentPage - 1);
                var max = this.countPerPage * this.currentPage;
                this.min = min;
                this.max = max;
                return this.selectedItemStyle.slice(min, max)
            },
            selectedItemStyle: function () {
                if (this.selectedItem == "1") {
                    return this.products;
                }
                if (this.selectedItem == "2") {
                    return this.products.reverse();
=======
                priceRange: {
                    min: 0,
                    max: 100
>>>>>>> 小精靈的祝福
                }
            },
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            methods: {
                clickCallback: function (page) {
                    this.currentPage = page;
                    console.log(page)
                },

                getProductdetailsLink: function(productId)
                {
                    return this.productdetailsLink + productId
                },

                getPicPath: function(picPath)
                {
                    console.log(picPath)    // receive pic filename
                    this.getPic.default = "images/"+ picPath

                    //return this.getPic.default //require(`@@/images/${picPath}`)
                }
<<<<<<< HEAD
                return this.products;
            }
=======

>>>>>>> fix pic
        },
        methods: {
            clickCallback: function (page) {
                this.currentPage = page;
                console.log(page)
<<<<<<< HEAD
>>>>>>> 123
            }
        });
    </script>
}
=======
            },
=======
>>>>>>> [新增]method : addtowishlist(已完成)、addtocart(尚未完成)
            mounted: function () {
                var self = this;
                fetch('/api/product/getall')
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        console.log(result);
                        self.products = result;
                    })
            },
            methods: {
<<<<<<< HEAD
                clickCallback: function (page) {
                    this.currentPage = page;
                    console.log(page)
                },
                addToCart(id){
                    console.log("CPid:", id)
                    this.queryWishListBaseURL='api/product/addtocart' +id
                fetch(this.queryWishListBaseURL)
                        .then(function (response) { return response.json() })
                        .then(function (result) {
                            console.log(result);
                            //self.products = result;
                        })
                },
                addToWishlist(id) {
                    console.log("WPid:", id)
                    this.queryWishlistBaseURL = '/api/product/AddWishList/' + id;

                    fetch(this.queryWishlistBaseURL,{method:"POST"})
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        console.log(result);
                            //self.products = result;
                        })
                }
            },
        });
    </script>
}
>>>>>>> [修正] ProductsController Action Method 命名規則與添加生成智慧文件說明的註解，修正分頁使用的高亮度背景 CSS 樣式，修正 Product 使用 Grid Sidebar 樣版首頁的檢視頁面
=======
=======
            computed: {
                selectedPriceRange: function () {
                    return "$" + this.priceRange.min + " - $" + this.priceRange.max
                },
                filterProducts: function () {
                    var min = this.countPerPage * (this.currentPage - 1 <= 0 ? 0 : this.currentPage - 1);
                    var max = this.countPerPage * this.currentPage;
                    this.min = min;
                    this.max = max;
                    return this.selectedItemStyle.slice(min, max)
                },
                selectedItemStyle: function () {
                    var self = this;
                    var temp = this.products;
                    if (this.searchText.length > 0) {
                        temp = temp.filter(function(item){
                            return item.productName.includes(self.searchText);
                        })
                    }

                    //price
                    temp = temp.filter(x=> {
                        var price = x.sellingPrice == "" ? x.price : x.sellingPrice;
                        return price >= self.priceRange.min && price <= self.priceRange.max;
                    });

                    //size
                    if (self.selectedSize != "All") {
                        temp = temp.filter(x => x.size == self.selectedSize);
                    }
                   

                    return temp;
                },

>>>>>>> 小精靈的祝福
            },
            methods: {
                selectSize:function(text){   
=======
=======
            methods: {
                showCount:function(type,value){
                    if(type == "category"){
                        return this.products.filter(x => x.categoryId == value).length;
                    }
                    if(type == "color"){
                        return this.products.filter(x=> x.colors.find(y=>y == value)).length
                    }
                    
                },
>>>>>>> product index filter-category
                selectSize: function (text) {
>>>>>>> 修改wishlist
                    console.log(text);
                    this.selectedSize = text;
                },
                search: function () {

                },
                clickCallback: function (page) {
                    this.currentPage = page;
                    console.log(page)
                },
                getProductdetailsLink: function (productId) {
                    return this.productdetailsLink + productId
                },
                addToCart(id) {
                    console.log("CPid:", id)
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                    this.queryWishListBaseURL = 'api/product/addtocart' + id
                    fetch(this.queryWishListBaseURL)
=======
                    this.queryWishListBaseURL = 'api/product/AddToCart/' + id;
                    fetch(this.queryWishListBaseURL,{method: "POST" })
>>>>>>> [修改]引入Addtocart Action Vue成功(待完成事項:Add Sweetalert)
=======
                    this.queryCartBaseURL = 'api/product/AddToCart/' + id;
=======
                    this.queryCartBaseURL = '/api/product/AddToCart/' + id;
<<<<<<< HEAD
>>>>>>> [新增]RemoveCartAction及RemoveWishList Action
                    fetch(this.queryCartBaseURL,{method: "POST" })
<<<<<<< HEAD
>>>>>>> [新增]AddtToWishList Action
                        .then(function (response) { return response.json() })
=======
=======
=======
                    this.queryCartBaseURL = '/api/cart/AddToCart/' + id;
>>>>>>> [修改]Gettocart及Getwishlist
                    fetch(this.queryCartBaseURL, { method: "POST" })
<<<<<<< HEAD
>>>>>>> 修改wishlist
                        .then(function (response) { return response.text() })
<<<<<<< HEAD
>>>>>>> [新增]Cartapicontroller Getcart Action及Wishlistcontroller Addtocart Action
                        .then(function (result) {console.log(result);                            
=======
=======
                        .then(function (response) { return response.json() })
>>>>>>> [修改]Addtocart Action
                        .then(function (result) {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                            alert(result);                            
>>>>>>> [新增]RemoveCartAction及RemoveWishList Action
                        })                        
=======
                            alert(result);
=======
                            var al={
                                icon:'sucess',
                                title:'成功',
=======
                            var al = {
                                icon: 'sucess',
                                title: '成功',
>>>>>>> product index filter-category
                                text: result.message,
                                timer: 2000
                            };
                            if (!result.status) {
                                al.icon = "error";
                                al.title = "失敗";
                            }
                            Swal.fire(al)
>>>>>>> [修改]Gettocart及Getwishlist
                        })
>>>>>>> 修改wishlist
                },
                addToWishlist(id) {
                    console.log("WPid:", id)
                    this.queryWishlistBaseURL = '/api/wishlist/AddWishList/' + id;
                    fetch(this.queryWishlistBaseURL, { method: "POST" })
                        .then(function (response) { return response.json() })
                        .then(function (result) {
                            var al = {
                                icon: 'success',
                                title: '成功',
                                text: result.message,
                                timer: 2000
                            };
                            if (!result.status) {
                                al.icon = "error";
                                al.title = "失敗";
                            }
                            Swal.fire(al)
                        })

                },
                GetCategoryData: function () {
                    var self = this;
                    fetch("/api/category/getall")
                        .then(function (response) { return response.json() })
                        .then(function (result) { self.optionSource.category = result })
                },
                GetColorData: function () {
                    var self = this;
                    fetch("/api/color/getall")
                        .then(function (response) { return response.json() })
                        .then(function (result) { self.optionSource.color = result })
                },
                GetSizeData: function () {
                    var self = this;
                    fetch("/api/size/getall")
                        .then(function (response) { return response.json() })
                        .then(function (result) { self.optionSource.size = result })
                },
                GetTagData: function () {
                    var self = this;
                    fetch("/api/tag/getall")
                        .then(function (response) { return response.json() })
                        .then(function (result) { self.optionSource.tag = result })
                },
            },
            mounted: function () {
                var self = this;                
                self.GetCategoryData();
                self.GetColorData();
                self.GetSizeData();
                self.GetTagData();
                fetch('/api/product/getall')
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        console.log(result);
                        self.products = result;
                        self.priceRange.max = Math.max(...self.products.map(x => x.price))

                        var sliderrange = $('#slider-range');
                        sliderrange.slider({
                            range: true,
                            min: self.priceRange.min,
                            max: self.priceRange.max,
                            values: [0, 3000],
                            slide: function (event, ui) {
                                self.priceRange.min = ui.values[0];
                                self.priceRange.max = ui.values[1];
                            }
                        });

                        //size
                        var temp = groupBy(app.products, "size")
                        var count = 0;
                        for (let key of Object.keys(temp)) {
                            count += temp[key].length;
                            self.sizeList.push({
                                "text": key,
                                "count": temp[key].length
                            })
                        }
                        self.sizeList.push({
                            "text": "All",
                            "count": count
                        })
=======
>>>>>>> fix product index filter tag and size
                    });


            }
<<<<<<< HEAD
        },
        mounted: function () {
            var self = this;
            fetch('/api/product/getall')
                .then(function (response) { return response.json() })
                .then(function (result) {
                    console.log(result);
                    self.products = result;
                });
            var sliderrange = $('#slider-range');
            sliderrange.slider({
                range: true,
                min: self.priceRange.min,
                max: self.priceRange.max,
                values: [0, 160],
                slide: function(event, ui) {
                    self.priceRange.min=ui.values[0];
                    self.priceRange.max=ui.values[1];
                }
            });
        }
    });
</script>
}
>>>>>>> fix pic
=======
        });
    </script>
}
>>>>>>> 小精靈的祝福
