
<script src="https://cdn.jsdelivr.net/npm/vue-drag-resize@1.5.4/dist/index.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/vue-drag-resize@1.5.4/src/components/vue-drag-resize.min.css" rel="stylesheet"></link>
<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    img {
        object-fit: cover;
        margin-top: 30px;
    }

    #canvas {
        position: relative;
        width: 40vw;
        height: 40vw;
        background-color: #2f3f50;
    }

    .button {
        border-top: 1px solid #d1c592;
        background: #9c9880;
        background: -webkit-gradient(linear, left top, left bottom, from(#8f855a), to(#9c9880));
        background: -moz-linear-gradient(top, #8f855a, #9c9880);
        padding: 5.5px 11px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
        -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
        box-shadow: rgba(0,0,0,1) 0 1px 0;
        text-shadow: rgba(0,0,0,.4) 0 1px 0;
        color: white;
        font-size: 11px;
        font-family: 'Arial Black', Gadget, sans-serif;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
    }

        .button:hover {
            border-top-color: #7d876a;
            background: #7d876a;
            color: #b3b1b8;
        }

        .button:active {
            border-top-color: #ffffff;
            background: #ffffff;
        }

.font{
        font-size: 81.25%;
        font-style: normal;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        font-variant: normal;
        color: #000000;
        letter-spacing: 6.25%;
        text-align: center;
        background: #fffcfc;
        /*padding: 31.25%;*/
        text-shadow: none;
    }
</style>


<div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1 mb-4">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2 data-aos="fade-up" data-aos-delay="200">Shop</h2>
            <ul data-aos="fade-up" data-aos-delay="400">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><i class="ti-angle-right"></i></li>
                <li>Match</li>
            </ul>
        </div>
    </div>
    <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
        <img src="~/assets/images/banner/breadcrumb-1.png" alt="">
    </div>
    <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
        <img src="~/assets/images/banner/breadcrumb-2.png" alt="">
    </div>
</div>


<div class="container-fluid" id="matchApp" />

<div class="row p-5">
    <div class="col-8" style="height:80vh ; background-color: #F5F5F5; position: relative;">
        <template v-for="item in show">
            <vue-drag-resize :ref="'test'+item.ProductId" :parent-limitation="true" :aspectRatio="false"
                             :isActive="true" v-on:resizing="resize" v-on:dragging="resize" v-on:activated="onActivated('test'+item.ProductId)"
                             v-on:clicked="onActivated('test'+item.ProductId)">
                <img :src="item.PitcurePath" style="width:100% ;">
            </vue-drag-resize>
        </template>


    </div>
    <div class="col-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#top"
                        type="button" role="tab" aria-controls="home" aria-selected="true">
                    ups
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bottom"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">
                    buttons
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#coat"
                        type="button" role="tab" aria-controls="contact" aria-selected="false">
                    coat
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#dress"
                        type="button" role="tab" aria-controls="contact" aria-selected="false">
                    dress
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="top" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="card col-4" v-for="item in parts.TopsPartsList">
                        <img :src="item.PitcurePath" class="card-img-top" style="width:100% ;">
                        <div class="card-body" align="center">
                            <h5 class="card-title font">{{item.ProductName}}</h5>
                            <button class="button" v-on:click="add(item)">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="bottom" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                    <div class="card col-4" v-for="item in parts.BottomPartsList">
                        <img :src="item.PitcurePath" class="card-img-top" style="width:100% ;">
                        <div class="card-body" align="center">
                            <h5 class="card-title font">{{item.ProductName}}</h5>
                            <button class="button" v-on:click="add(item)">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="coat" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="card col-4" v-for="item in parts.CoatPartsList">
                        <img :src="item.PitcurePath" class="card-img-top" style="width:100% ;">
                        <div class="card-body" align="center">
                            <h5 class="card-title font">{{item.ProductName}}</h5>
                            <button class="button" v-on:click="add(item)">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="dress" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="card col-4" v-for="item in parts.DressPartsList">
                        <img :src="item.PitcurePath" class="card-img-top" style="width:100% ;">
                        <div class="card-body" align="center">
                            <h5 class="card-title font">{{item.ProductName}}</h5>
                            <button class="button" v-on:click="add(item)">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts
    {

    <script>
        //Vue.component('vue-drag-resize', VueDragResize)
        const VueDragResize = window.VueDragResize.default;
        let matchVue = new Vue({
            el: '#matchApp',
            components: {
                VueDragResize,
            },
            data: {
                parts: null,
                show: [],
                width: 0,
                height: 0,
                top: 0,
                left: 0,
            },
            created:function(){
                this.getAllPitcures();
            },
            methods: {
                resize(newRect) {
                    this.width = newRect.width;
                    this.height = newRect.height;
                    this.top = newRect.top;
                    this.left = newRect.left;
                },
                onActivated(e) {
                    console.log(e)
                    //console.log(this)
                    //console.log(this.$refs)
                    //this.$refs[e].focus();
                    console.log(this.$refs[e])
                },
                add(item) {
                    this.show.push(item)
                },
                getAllPitcures() {
                    fetch("/api/product/GetMatchProducts", {
                        method: "GET",
                        headers: { "Content-Type": "application/json" },
                    })
                        .then((r) => r.json())
                        .then((r) => {
                            this.parts = r
                            console.log(r)
                        }).catch(err => console.log(err))
                }
            }

        })
    </script>
}
