

<div id="ProductDetails">
    <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2 data-aos="fade-up" data-aos-delay="200">Product Details</h2>
                <ul data-aos="fade-up" data-aos-delay="400">
                    <li><a href="/Home/Index">Home</a></li>
                    <li><i class="ti-angle-right"></i></li>
                    <li>Product Details</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
            <img src="/assets/images/banner/09.png" alt="">
        </div>
        <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
            <img src="/assets/images/banner/10.png" alt="">
        </div>
    </div>    
    <div class="product-details-area pb-100 pt-100">
        <div class="container">
            @*商品圖片*@
            <div class="col-lg-12">
                <div class="product-details-img-wrap" data-aos="fade-up" data-aos-delay="200">
                    <div class="product-list-img">
                        <div class="row">
                            <div class="col-3" v-for="item in productFields.pictures">
                                <img :src="item" class="w-100 img-thumbnail" alt="product picture"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*商品內容*@
            <div class="row">
                <div class="col-lg-12 mt-3">
                    <div class="product-details-content" data-aos="fade-up" data-aos-delay="400">
                        <h2>{{productFields.productName}}</h2>
                        <div class="product-price">
                            <span :class="{'old-price':productFields.discount}">${{productFields.price}}</span>
                            <span class="new-price" v-if="productFields.discount">${{productFields.sellingPrice}}</span>
                        </div>
                        <div class="product-details-review">
                            <div class="product-rating">
                                <i class=" ti-star"></i>
                                <i class=" ti-star"></i>
                                <i class=" ti-star"></i>
                                <i class=" ti-star"></i>
                                <i class=" ti-star"></i>
                            </div>
                            <span>( 1 Customer Review )</span>
                        </div>
                        <div class="product-color product-color-active product-details-color">
                            <span>Color :</span>
                            <ul>
                                <li>{{productFields.colors.map(x=>x.type).join(' ,')}}</li>
                            </ul>
                        </div>
                        <div class="product-details-action-wrap">
                            <div class="product-quality">
                                <input class="cart-plus-minus-box input-text qty text" name="qtybutton" value="1">
                            </div>
                            @*加入購物車按鈕*@
                            <div class="single-product-cart btn-hover">
                                <button class="btn btn-warning"  @@click="addToCart(productFields.productId)">Add to cart</button>
                            </div>
                            @*加入願望清單按鈕*@
                            <div class="single-product-wishlist">
                                <button class="btn btn-danger" @@click="addToWishlist(productFields.productId)"><i class="pe-7s-like"></i></button>
                            </div>
                            <div class="single-product-compare">
                                <a title="Compare" href="#"><i class="pe-7s-shuffle"></i></a>
                            </div>
                        </div>
                        <div class="product-details-meta">
                            <ul>
                                <li>
                                    <span class="title">Size:</span>
                                    <ul>
                                        <li>{{productFields.size.type}}</li>                                       
                                    </ul>
                                </li>
                                <li>
                                    <span class="title">Category:</span>
                                    <ul>
                                        <li>{{productFields.categoryName.categoryName}}</li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="title">Tags:</span>
                                    <ul class="tag" id="tag">
                                        <li>{{productFields.tags.map(x=>x.type).join(' ,')}}</li>
                                    </ul>
                                </li>
                        </div>
                        <div class="social-icon-style-4">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*評價區塊*@
    <div class="description-review-area pb-85">
        <div class="container">
            <div class="description-review-topbar nav" data-aos="fade-up" data-aos-delay="200">
                <a data-bs-toggle="tab" href="#des-details3" class=""> Reviews </a>
            </div>
            <div class="tab-content">

                <div id="des-details3" class="tab-pane">
                    <div class="review-wrapper">
                        <h3>1 review for Sleeve Button Cowl Neck</h3>
                        <div class="single-review">
                            <div class="review-img">
                                <img src="~/assets/images/product-details/review-1.png" alt="">
                            </div>
                            <div class="review-content">
                                <div class="review-rating">
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                </div>
                                <h5><span>HasTech</span> - April 29, 2022</h5>
                                <p>Donec accumsan auctor iaculis. Sed suscipit arcu ligula, at egestas magna molestie a. Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque</p>
                            </div>
                        </div>
                    </div>

                    @*留評價*@
                    <div class="ratting-form-wrapper">
                        <h3>Add a Review</h3>
                        <p>Your email address will not be published. Required fields are marked <span>*</span></p>
                        <div class="your-rating-wrap">
                            <span>Your rating</span>
                            <div class="your-rating">
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                                <a href="#"><i class="ti-star"></i></a>
                            </div>
                        </div>
                        <div class="ratting-form">
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="rating-form-style mb-15">
                                            <label>Name <span>*</span></label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="rating-form-style mb-15">
                                            <label>Email <span>*</span></label>
                                            <input type="email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="rating-form-style mb-15">
                                            <label>Your review <span>*</span></label>
                                            <textarea name="Your Review"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="save-email-option">
                                            <p><input type="checkbox"> <label>Save my name, email, and website in this browser for the next time I comment.</label></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-submit">
                                            <input type="submit" value="Submit">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{

    <script>

        let app = new Vue({

            el:"#ProductDetails",
            data:
            {
                productFields: {
                    productId: "",
                    productName: "",
                    colors: [],
                    size: "",
                    categoryName: "",
                    price: "",
                    sellingPrice: "",
                    tags: [],
                    pictures: [],
                    comment: "",
                },
                //tags: [],
                //optionSource: {
                //    tag: [],
                //    color: [],
                //    size: [],
                //    category: []
                //},

            },

            mounted: function(){
                var self = this;
                //self.GetCategoryData();
                //self.GetColorData();
                //self.GetSizeData();
                //self.GetTagData();

                fetch('/api/product/getbyid/'+'@ViewBag.id')
                .then(function(response){return response.json()})
                .then(function(result){
                    console.log(result);
                    self.productFields = result;
                    self.productFields.productId = @ViewBag.id;
                })            
            },

            methods:
            {

                //showData:function(type,value){
                    
                //    if(type == "tag"){
                //        return this.productFields.filter(p => p.tag.find(y => y == value))
                //    }
                //},

                //showColor:function(id){
                //    switch(id)
                //        {
                //            case 0: return "black";
                //            case 1: return "red";
                //            default: return "請選擇";
                //        }
                //},

                //GetCategoryData: function () {
                //    var self = this;
                //    fetch("/api/category/getall")
                //        .then(function (response) { return response.json() })
                //        .then(function (result) { self.optionSource.category = result })
                //},
                //GetColorData: function () {
                //    var self = this;
                //    fetch("/api/color/getall")
                //        .then(function (response) { return response.json() })
                //        .then(function (result) { self.optionSource.color = result })
                //},
                //GetSizeData: function () {
                //    var self = this;
                //    fetch("/api/size/getall")
                //        .then(function (response) { return response.json() })
                //        .then(function (result) { self.optionSource.size = result })
                //},
                //GetTagData: function () {
                //    var self = this;
                //    fetch("/api/tag/getall")
                //        .then(function (response) { return response.json() })
                //        .then(function (result) { self.optionSource.tag = result })
                //},

                addToCart: function (productId) {
                    var self = this;
                    console.log(productId)
                    self.queryCartBaseURL = `/api/cart/AddToCart`;
                    fetch(self.queryCartBaseURL, {
                        method: "POST",
                        body: JSON.stringify(productId),
                        headers: { "content-type": "application/json" }
                    })
                        .then(function (response) { return response.json() })
                        .then(function (result) {
                            var al = {
                                icon: 'success',
                                title: 'success',
                                text: result.message,
                                timer: 2000
                            };
                            if (!result.status) {
                                al.icon = "error";
                                al.title = "error";
                            }
                            Swal.fire(al)
                        })
                },
                addToWishlist: function (productId) {
                    var self = this;
                    console.log(productId)
                    self.queryWishlistBaseURL = `/api/wishlist/AddWishList/`;
                    fetch(self.queryWishlistBaseURL, {
                        method: "POST",
                        body: JSON.stringify(productId),
                        headers: { "content-type": "application/json" }
                    })
                        .then(function (response) {
                            console.table(response)
                            let wresp = response
                            return response.json()
                        })
                        .then(function (result) {
                            var al = {
                                icon: 'success',
                                title: 'success',
                                text: result.message,
                                timer: 2000
                            };
                            if (!result.status) {
                                al.icon = "error";
                                al.title = "error";
                            }
                            Swal.fire(al)
                        })

                },
                //tagToString(type) {
                //    if(type == 2) return "RED";
                //}
            }

        });



    </script>
}