<div class="container" id="app" />

<div class="blog-details-area pt-15 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details-wrapper">
                    <div class="blog-details-img-date-wrap mb-35" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-details-img">
                            <img :src="titleImg" alt="">
                        </div>
                        <div class="blog-details-date">
                            <h5 v-if="articleDay(article.createdDate)">{{ aDay }} <span v-if="getMonthName(article.createdDate)">{{ aMonth }}</span></h5>
                        </div>
                    </div>
                    <div class="blog-meta-2" data-aos="fade-up" data-aos-delay="200">
                        <ul>
                            <li><a href="#">Furniture</a>,</li>
                            <li>By:<a href="#"> {{ article.memberName }}</a></li>
                        </ul>
                    </div>
                    <h1 data-aos="fade-up" data-aos-delay="200">{{ article.title }}</h1>
                    <p v-html="article.content" data-aos="fade-up" data-aos-delay="200">{{  article.content }}</p>

                    <div class="blog-details-middle-img-wrap">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-12" v-for="image in article.articleContentImages">
                                <div class="blog-details-middle-img mb-30" data-aos="fade-up" data-aos-delay="200">
                                    <img :src="images" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tag-social-wrap">
                        <div class="tag-wrap" data-aos="fade-up" data-aos-delay="200">
                            <span>Tags:</span>
                            <ul v-for="tag in tags">
                                <li><a href="#">{{tag.type}}</a>,</li>
                            </ul>
                        </div>
                    </div>

                    <div class="blog-next-previous-post" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-prev-post-wrap">
                            <div class="blog-prev-post-icon">
                                <a :href="articleLink(article.prevArticleId)"><i class="fa fa-angle-left"></i></a>
                            </div>
                            <div class="blog-prev-post-content">
                                <h3><a :href="articleLink(article.prevArticleId)">{{ article.prevArticleTitle }}</a></h3>
                                <span>{{ showDate(article.prevArticleCreateAt) }}</span>
                            </div>
                        </div>
                        <div class="blog-next-post-wrap">
                            <div class="blog-next-post-icon">
                                <a :href="articleLink(article.nextArticleId)"> <i class="fa fa-angle-right"></i> </a>
                            </div>
                            <div class="blog-next-post-content">
                                <h3><a :href="articleLink(article.nextArticleId)">{{ article.nextArticleTitle }}</a></h3>
                                <span>{{ showDate(article.nextArticleCreateAt) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-wrapper blog-sidebar-mt">

                    <div class="sidebar-widget mb-50" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-author-content text-center">
                            <a :href="memberArticlesLink(article.id)"><img :src="getAuthorIcon()" alt=""></a>
                            <h2>{{ article.memberName }}</h2>
                            <h4>Blog Writer</h4>
                            <div class="social-icon-style-1">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-glide-g"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title-2 mb-25">
                            <h3>Categories</h3>
                        </div>
                        <div class="sidebar-list-style-2">
                            <ul v-for="(count, category) in categories" :key="category">
                                <li><a href="#">{{ category }} ({{ count }})</a></li>
                            </ul>
                            @*<ul>
                            <li><a asp-controller="Blog" asp-action="Sidebar">Blog Grid View (09)</a></li>
                            <li><a asp-controller="Blog" asp-action="Sidebar">Latest blog (02)</a></li>
                            <li><a asp-controller="Blog" asp-action="Sidebar">Our Blog (03)</a></li>
                            <li><a asp-controller="Blog" asp-action="Sidebar">Uncategorized (107)</a></li>
                            </ul>*@
                        </div>
                    </div>
                    @*<div class="sidebar-widget mb-35" data-aos="fade-up" data-aos-delay="200">
                    <div class="sidebar-widget-title-2 mb-30">
                    <h3>Tags</h3>
                    </div>
                    <div class="sidebar-widget-tag-2">
                    <a href="#">Furniture</a>
                    <a href="#">Electronic</a>
                    <a href="#">Home Decore</a>
                    <a href="#">Design Home</a>
                    <a href="#">Furniture</a>
                    </div>
                    </div>*@
                    <div class="sidebar-widget" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-banner">
                            <a href="/Products/ProductDetails"><img :src="productImg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>

        let app = new Vue({
            //el:'#app',
            name: "app",
            data: {
                article: {},
                articleBaseLink: "/api/Blog/GetById/",
                articleId: @ViewBag.ArticleId,
                currentPage: 1,
                aDay: "",
                aMonth: "",
                categories: {},
                tags: {},
                titleImg: "",
                productImg: "",
            },
            mounted: function () {
                let self = this
                self.getCategories()
                self.getTags(self.articleId)
                self.getArticleById(self.articleId)
                self.getRandomProductPic()
            },
            methods: {
                articleLink: function (id) { return "/Blog/Details/" + id },
                memberArticlesLink: function (id) { return "/Blog/Sidebar/" + id },
                articleDay(currentDate) {
                    var date = new Date(currentDate);
                    this.aDay = date.getDate()
                    return this.aDay
                },
                getMonthName(currentDate) {
                    const date = new Date(currentDate)
                    this.aMonth = date.toLocaleString('default', { month: 'short' })
                    return this.aMonth
                },
                showDate(currentDate) {
                    const date = new Date(currentDate)
                    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                    return date.toLocaleDateString(date, options)
                },
                getArticleById: async function (id) {
                    let self = this
                    await axios.get(self.articleBaseLink + id)
                        .then(response => {
                            console.log("get article by id:", response)
                            if (response.status == 200 && response.data.statusCode === 200) {
                                self.article = response.data.value
                                self.titleImg = response.data.value.titleImage
                                console.log("get title image:", self.titleImg)
                            }
                        })
                        .catch(error => { tgm103ShowError(error.response.data) })
                },
                getCategories: function () {
                    axios.get('/api/Blog/CountCategories')
                        .then(response => {
                            if (response.status === 200 && response.data.statusCode === 200) {
                                console.log("count categories:", response.data.value)
                                this.categories = response.data.value
                            }
                        })
                },
                getTags: function (id) {
                    axios.get("/api/Blog/GetTagsById/" + id)
                        .then(response => { this.tags = response.data.value })
                        .catch(error => { tgm103ShowError(error.response.data) })
                },
                getAuthorIcon: function () {
                    let id = Math.floor(Math.random() * 100)
                    queryIcon = "https://picsum.photos/id/" + id + "/200/200"
                    return queryIcon
                },
                getRandomProductPic: function () {
                    axios.get("/api/Blog/GetRandomProductPic")
                        .then(response => { this.productImg = response.data.value })
                        .catch(error => { tgm103ShowError(error.response.data) }
                        )
                },
            }
        })

        document.addEventListener("DOMContentLoaded", () => {
            app.$mount('#app')
        })
    </script>
}
