@*@model IEnumerable<ArticleModel>*@
@{
    ViewBag.Title = "Our Blog";
}

<div class="container" id="blogApp"/>

<div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2 data-aos="fade-up" data-aos-delay="200">Blog</h2>
            <ul data-aos="fade-up" data-aos-delay="400">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><i class="ti-angle-right"></i></li>
                <li>Blog Standard </li>
            </ul>
        </div>
    </div>
    <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
        <img src="~/assets/images/banner/breadcrumb-1.png" alt="">
    </div>
    <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
        <img src="~/assets/images/banner/breadcrumb-2.png" alt="">
    </div>
</div>


<div class="blog-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            @*=========== Vue.js 寫法 ==========================================================(開始)*@
            <template>
                <div class="col-lg-4 col-md-6" v-for="article in articles" :key="article.id">
                    <div class="blog-wrap mb-50" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-img-date-wrap mb-25">
                            <div class="blog-img">
                                <a asp-controller="Blog" asp-action="Details"><img src="~/assets/images/blog/blog-details.png" alt=""></a>
                            </div>
                            <div class="blog-date">
                                <h5>05 <span>May</span></h5>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h1>{{ article.title }}</h1>
                            <p>{{ article.content }}</p>
                            <p>{{ article.modifiedDate }}</p>
                            
                            <div class="blog-btn-2 btn-hover">
                                <a class="btn hover-border-radius theme-color" :href="articleLink(article.articleId)">Read More</a>
                                @*<a class="btn hover-border-radius theme-color" asp-controller="BlogApi" asp-action="GetArticleById" v-on:click="getNextArticleId">Read More</a>*@
                                @*<a class="btn hover-border-radius theme-color" v-bind:href="/api/Blog/GetArticleById/{{article.id+1}}">Read More</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            @*=========== Vue.js 寫法 ==========================================================(結束)*@

            @*=========== Razor 寫法 ==========================================================(開始)
            @foreach(var item in @Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="blog-wrap mb-50" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-img-date-wrap mb-25">
                            <div class="blog-img">
                                <a asp-controller="Blog" asp-action="Details"><img src="@item.FileName" alt=""></a>
                            </div>
                            <div class="blog-date">
                                <h5>05 <span>May</span></h5>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li><a href="#">Furniture</a>,</li>
                                    <li>By:<a href="#">@item.MemberName</a></li>
                                </ul>
                            </div>

                            <h3><a asp-controller="Blog" asp-action="Details">@item.Title</a></h3>

                            <p>@item.Content</p>
                            <div class="blog-btn-2 btn-hover">
                                <a class="btn hover-border-radius theme-color" asp-controller="Blog" asp-action="Details">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @*=========== Razor 寫法 ==========================================================(結束)*@
        </div>

        @*TODO:  分頁*@
        <div class="pagination-style-1" data-aos="fade-up" data-aos-delay="200">
            <ul>
                <li><a :class="{active:currentPage==n}" v-for="n in 10" href="#">{{n}}</a></li>
                <li><a class="next" href="#"><i class=" ti-angle-double-right "></i></a></li>
            </ul>
            @*
            <paginate :page-count="Math.ceil(articles.length/countPerPage)"
                      :page-range="10"
                      :margin-pages="1"
                      :click-handler="clickCallback"
                      :prev-text="'Prev'"
                      :next-text="'Next'"
                      :container-class="'pagination'"
                      :page-class="'page-item'">
                <span slot="prevContent"><i class=" ti-angle-double-left "></i></span>
                <span slot="nextContent"><i class=" ti-angle-double-right "></i></span>
            </paginate>
            *@
        </div>
    </div>
</div>

@section Scripts{

    <script src="https://unpkg.com/vuejs-paginate@1.9.0"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.6/axios.min.js" integrity="sha512-RUkwGPgBmjCwqXpCRzpPPmGl0LSFp9v5wXtmG41+OS8vnmXybQX5qiG5adrIhtO03irWCXl+z0Jrst6qeaLDtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
    <script>
        Vue.component('paginate', VuejsPaginate);

        let blogVue = new Vue({
            //el:'#blogApp',
            name: "blogApp",
            data:{
                articles: [
                    {
                        id: 1,
                        title: '文章 1',
                        content: '接到民國手指全球最後，承諾汽車，手段經濟發展意外有所原來模型的人未經接着，我有玩家積極負責一遍開放男子利潤，治理免費都是詢問尤其一週社會主義模擬學科一場趕緊圖書的話，臺灣消失比例上一頁驚人至今新臺幣刪除等方面一路適當產權頻率，複雜那就那個還沒有，由於突出。',
                        createdAt: '2022-01-01'
                    },
                    {
                        id: 2,
                        title: '文章 2',
                        content: '身邊本書本書職工用戶名，鈴聲付出領域心理都說施工運動競爭鈴聲下載，地面從來沒以前學者英雄動畫員工校長文學你們的承受吸收模型用戶名，領先隊員一遍打開推薦使用私人想起有一種傳來擁有，緊緊你可以婚姻超級下載次數飯店，正在夫妻，點頭材料主角需求英文，宅宅許可，近。',
                        createdAt: '2022-01-02'
                    },
                    {
                        id: 3,
                        title: '文章 3',
                        content: '碩士試驗說過高達一家我不只好貢獻前來人大指出，以外所謂返回不良情感，帶來有點遠無門朋友提升交換，金幣前面見過拍攝紅色採取主演物業不用這次高校眼中，體會許可別人如下加速怎麼會，信用姑娘群發，競爭力程式老師博士，你還演唱生意，詳細內容日誌下去，您現在難道，供。',
                        createdAt: '2022-01-03'
                    }
                ],
                articleBaseLink: "/api/Blog/GetArticleById/",
                queryNextArticleIdLink: "/api/Blog/NextArticle/",
                nextArticleBaseLink: "",
                currentPage: 1,
            },
            mounted: function () {
                var self = this;
                fetch('/api/Blog/GetArticles')
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        console.log(result);
                        self.articles = result;
                    })
                //axios
                //    .get('/api/Blog/GetArticles')
                //    .then(response => (self.articles = response.data))
                //    .catch(error => console.log(error))
            },
            methods: {
                clickCallback: function (page) {
                    this.currentPage = page;
                    console.log(page)
                },
                articleLink(articleId) {    // TODO:    change to next article Id instead
                    //this.nextArticleBaseLink = this.queryNextArticleIdLink + articleId
                    //fetch(this.queryNextArticleIdLink + articleId).then(response => {
                        // handle the response and store the next article ID
                        //console.log("Article ID is ", response)
                    //});
                    articleId++
                    return this.articleBaseLink + articleId
                        },
                
            },
        })

        document.addEventListener("DOMContentLoaded", () => {
            blogVue.$mount('#blogApp')
        })
    </script>
}
