@model IEnumerable<ArticleModel>
@{
    ViewBag.Title = "Our Blog";
}

<div class="container" id="blogApp"/>

<div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2 data-aos="fade-up" data-aos-delay="200">Blog</h2>
            <ul data-aos="fade-up" data-aos-delay="400">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><i class="ti-angle-right"></i></li>
                <li>Blog Standard </li>
            </ul>
        </div>
    </div>
    <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
        <img src="~/assets/images/banner/breadcrumb-1.png" alt="">
    </div>
    <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
        <img src="~/assets/images/banner/breadcrumb-2.png" alt="">
    </div>
</div>
<div class="blog-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            @foreach(var item in @Model)
            {
                <div class="col-lg-4 col-md-6">
                <div class="blog-wrap mb-50" data-aos="fade-up" data-aos-delay="200">
                    <div class="blog-img-date-wrap mb-25">
                        <div class="blog-img">
                            <a asp-controller="Blog" asp-action="Details"><img src="@item.FileName" alt=""></a>
                        </div>
                        <div class="blog-date">
                            <h5>05 <span>May</span></h5>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul>
                                <li><a href="#">Furniture</a>,</li>
                                <li>By:<a href="#">@item.MemberName</a></li>
                            </ul>
                        </div>
                        <h3><a asp-controller="Blog" asp-action="Details">@item.Title</a></h3>
                        <p>@item.Content</p>
                        <div class="blog-btn-2 btn-hover">
                            <a class="btn hover-border-radius theme-color" asp-controller="Blog" asp-action="Details">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>

        @*TODO:  分頁*@
        <div class="pagination-style-1" data-aos="fade-up" data-aos-delay="200">
            <ul>
                <li><a :class="{active:currentPage==n}" v-for="n in 10" href="#">{{n}}</a></li>
                <li><a class="next" href="#"><i class=" ti-angle-double-right "></i></a></li>
            </ul>
            @*
            <paginate :page-count="Math.ceil(articles.length/countPerPage)"
                      :page-range="10"
                      :margin-pages="1"
                      :click-handler="clickCallback"
                      :prev-text="'Prev'"
                      :next-text="'Next'"
                      :container-class="'pagination'"
                      :page-class="'page-item'">
                <span slot="prevContent"><i class=" ti-angle-double-left "></i></span>
                <span slot="nextContent"><i class=" ti-angle-double-right "></i></span>
            </paginate>
            *@
        </div>
    </div>
</div>

@section Scripts{

    <script src="https://unpkg.com/vuejs-paginate@1.9.0"></script>
    <script>
        Vue.component('paginate', VuejsPaginate);

        let blogVue = new Vue({
            //el:'#blogApp',
            name: "blogApp",
            data:{
                articles: null,
                currentPage: 1,
            },
            mounted: function () {
                var self = this;
                fetch('/api/Blog/GetArticles')
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        console.log(result);
                        self.articles = result;
                    })
            },
            methods: {
                clickCallback: function (page) {
                    this.currentPage = page;
                    console.log(page)
                }
            },
        })

        document.addEventListener("DOMContentLoaded", () => {
            blogVue.$mount('#blogApp')
        })
    </script>
}
