<div class="container" id="blogApp" />


<div class="blog-area pt-15 pb-100">
    <template>
        <div class="container">
            <div class="row">
                <div v-for="(article, index) in formattedArticles" :key="index" class="col-lg-4 col-md-6">
                    <div class="blog-wrap mb-50" data-aos="fade-up" :data-aos-delay="200+ 200*index">
                        <div class="blog-img-date-wrap mb-25">
                            <div class="blog-img">
                                <a href="/Blog/Details"><img src="/assets/images/blog/blog-details.png" alt=""></a>
                            </div>
                            <div class="blog-date">
                                <h5> {{ article.timeInDay }} <span>{{ article.timeInMonth }}</span></h5>
                            </div>
                        </div>

                        <div class="blog-content">
                            <h1>{{ article.title }}</h1>
                            <p v-html="article.description">{{ article.description }}</p>

                            <div class="blog-btn-2 btn-hover">
                                <a class="btn hover-border-radius theme-color" :href="articleLink(article.id)">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*分頁*@
            <div class="pagination-style-1" data-aos="fade-up" data-aos-delay="200">
                @*<div id="loading" class="spinner-border center" role="status">
                <span class="visually-hidden">Loading...</span>
                </div>*@
                @*
                <ul>
                <li><a :class="{active:currentPage==n}" v-for="n in 10" href="#">{{n}}</a></li>
                <li><a class="next" href="#"><i class=" ti-angle-double-right "></i></a></li>
                </ul>
                *@
                <paginate :page-count="Math.ceil(articles.length/countPerPage)"
                          :page-range="10"
                          :margin-pages="1"
                          :click-handler="clickCallback"
                          :prev-text="'Prev'"
                          :next-text="'Next'"
                          :container-class="'pagination'"
                          :page-class="'page-item'">
                    <span slot="prevContent"><i class=" ti-angle-double-left "></i></span>
                    <span slot="nextContent"><i class=" ti-angle-double-right "></i></span>
                </paginate>
            </div>

        </div>
    </template>
</div>

@section Scripts{

    <script src="https://unpkg.com/vuejs-paginate@1.9.0"></script>
    <script>
        Vue.component('paginate', VuejsPaginate);

        let blogVue = new Vue({
            //el:'#blogApp',
            name: "blogApp",
            data: {
                articles: [],
                //visibleArticles: [],
                articleBaseLink: "/Blog/Details/",
                currentPage: 1,
                countPerPage: 5,
                //currentIndex: 0,
            },
            created() {
                this.getArticles()
            },
            mounted: function () {
                var self = this;
                //const options = {
                //    threshold: 0.25
                //};
                //var load = document.getElementById("loading")
                //var ob = new IntersectionObserver(function () {
                //    self.currentIndex++;
                //    self.visibleArticles.push(self.articles[self.currentIndex])
                //    //self.getData()
                //}, options)
                //ob.observe(load);
            },
            computed: {
                filterArticles: function () {
                    var min = this.countPerPage * (this.currentPage - 1 <= 0 ? 0 : this.currentPage - 1);
                    var max = this.countPerPage * this.currentPage;
                    this.min = min;
                    this.max = max;
                    return this.articles.slice(min, max)
                },
                formattedArticles() {
                    return this.filterArticles.map(article => {
                        const date = new Date(article.modifiedDate);
                        return {
                            ...article,
                            timeInDay: `${date.getDate()}`,
                            timeInMonth: `${date.toLocaleString('default', { month: 'short' })}` //`${this.getMonthName(date.getMonth())}`
                        };
                    });
                }
            },
            methods: {
                clickCallback: function (page) {
                    this.currentPage = page;
                },
                articleLink: function (articleId) {
                    return this.articleBaseLink + articleId
                },
                getArticles: async function () {
                    await axios.get("/api/Blog/GetArticles")
                        .then(response => {
                            console.log("at created, article response:", response)
                            if (response.status == 200 && response.data.statusCode === 200) {
                                this.articles = response.data.value
                                this.visibleArticles = this.articles.slice(0, this.countPerPage);
                                console.log("articles:", this.articles)
                            }
                        })
                        .catch(error => { tgm103ShowError(error.response.data) })
                },
            },
        })

        document.addEventListener("DOMContentLoaded", () => {
            blogVue.$mount('#blogApp')
        })
    </script>
}
