<div class="container" id="blogSidebarApp" />

<div class="blog-area pt-15 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <partial name="_BlogDetailsPartial" />
            </div>
            <div class="col-lg-4">
                <div class="sidebar-wrapper">
                    <div class="sidebar-widget mb-50" data-aos="fade-up" data-aos-delay="200">
                        <div class="search-wrap-3">
                            <form class="search-3-form" action="#">
                                <input placeholder="Search*" type="text">
                                <button class="button-search"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-50" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-author-content text-center">
                            <a href="#"><img src="~/assets/images/blog/blog-author.png" alt=""></a>
                            <h2>{{ article.memberName }}</h2>
                            <h4>Blog Writer</h4>
                            <div class="social-icon-style-1">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-glide-g"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title-2 mb-25">
                            <h3>Categories</h3>
                        </div>
                        <div class="sidebar-list-style-2">
                            <ul>
                                <li><a href="#">Blog Grid View (09)</a></li>
                                <li><a href="#">Latest blog (02)</a></li>
                                <li><a href="#">Our Blog (12)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title-2 mb-30">
                            <h3>Latest Post</h3>
                        </div>
                        <div class="latest-post-wrap">
                            <div class="single-latest-post">
                                <div class="latest-post-img">
                                    <a href="#"><img src="~/assets/images/blog/latest-post-1.png" alt=""></a>
                                </div>
                                <div class="latest-post-content">
                                    <span>01 May 2022</span>
                                    <h4><a href="#">Lorem ipsum dolor sit am conse ctetur adipis</a></h4>
                                    <div class="latest-post-btn">
                                        <a href="#">Continue Reading...</a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-latest-post">
                                <div class="latest-post-img">
                                    <a href="#"><img src="~/assets/images/blog/latest-post-2.png" alt=""></a>
                                </div>
                                <div class="latest-post-content">
                                    <span>08 Dec 2022</span>
                                    <h4><a href="#">Phasellus vehicula sit amet nibh vitae posuere</a></h4>
                                    <div class="latest-post-btn">
                                        <a href="#">Continue Reading...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-35" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title-2 mb-30">
                            <h3>Tags</h3>
                        </div>
                        <div class="sidebar-widget-tag-2">
                            <a href="#">Furniture</a>
                            <a href="#">Electronic</a>
                            <a href="#">Home Decore</a>
                            <a href="#">Design Home</a>
                            <a href="#">Furniture</a>
                        </div>
                    </div>
                    <div class="sidebar-widget" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-banner">
                            <a href="#"><img src="~/assets/images/banner/banner-29.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="https://unpkg.com/vuejs-paginate@1.9.0"></script>
    <script>
        Vue.component('paginate', VuejsPaginate);

        let blogSidebarVue = new Vue({
            //el:'#blogSidebarApp',
            name: "blogSidebarApp",
            data: {
                article: {},
                articles: [
                    {
                        id: 1,
                        title: '文章 1',
                        description: '接到民國手指全球最後，承諾汽車，手段經濟發展意外有所原來模型的人未經接着，我有玩家積極負責一遍開放男子利潤，治理免費都是詢問尤其一週社會主義模擬學科一場趕緊圖書的話，臺灣消失比例上一頁驚人至今新臺幣刪除等方面一路適當產權頻率，複雜那就那個還沒有，由於突出。',
                        createdDate: '2022-01-01',
                        modifiedAt: '2022-12-16',
                    },
                    {
                        id: 2,
                        title: '文章 2',
                        description: '身邊本書本書職工用戶名，鈴聲付出領域心理都說施工運動競爭鈴聲下載，地面從來沒以前學者英雄動畫員工校長文學你們的承受吸收模型用戶名，領先隊員一遍打開推薦使用私人想起有一種傳來擁有，緊緊你可以婚姻超級下載次數飯店，正在夫妻，點頭材料主角需求英文，宅宅許可，近。',
                        createdDate: '2022-01-02',
                        modifiedAt: '2023-01-07',
                    },
                    {
                        id: 3,
                        title: '文章 3',
                        description: '碩士試驗說過高達一家我不只好貢獻前來人大指出，以外所謂返回不良情感，帶來有點遠無門朋友提升交換，金幣前面見過拍攝紅色採取主演物業不用這次高校眼中，體會許可別人如下加速怎麼會，信用姑娘群發，競爭力程式老師博士，你還演唱生意，詳細內容日誌下去，您現在難道，供。',
                        createdDate: '2022-01-03',
                        modifiedAt: '2023-02-08',
                    }
                ],
                articleBaseLink: "/Blog/Details/",
                articleId: @ViewBag.ArticleId,
                currentPage: 1,
                countPerPage: 6,
                aDay: "",
                aMonth: "",
                tags: {},
            },
            mounted: function () {
                let self = this
                fetch('/api/Blog/GetMembersArticles/' + this.articleId)
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        console.log("sidebar articles:", result.value);
                        self.articles = result.value;
                    })
                //self.getTags(self.articleId)
                //self.getArticleById(self.articleId)
            },
            computed: {
                filterArticles: function () {
                    var min = this.countPerPage * (this.currentPage - 1 <= 0 ? 0 : this.currentPage - 1);
                    var max = this.countPerPage * this.currentPage;
                    this.min = min;
                    this.max = max;
                    return this.articles.slice(min, max)
                },
            },
            methods: {
                clickCallback: function (page) {
                    this.currentPage = page;
                    console.log(page)
                },
                articleLink: function (id) { return "/Blog/Details/" + id },
                articleDay(currentDate) {
                    var date = new Date(currentDate);
                    this.aDay = date.getDate()
                    return this.aDay
                },
                getMonthName(currentDate) {
                    const date = new Date(currentDate)
                    this.aMonth = date.toLocaleString('default', { month: 'short' })
                    return this.aMonth
                },
                showDate(currentDate) {
                    const date = new Date(currentDate)
                    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                    return date.toLocaleDateString(date, options)
                },
                getArticleById(id) {
                    this.articleBaseLink = "/api/Blog/GetById/",
                        axios.get(this.articleBaseLink + id)
                            .then(response => {
                                console.log(".......", response)
                                this.article = response.data.value
                            })
                            .catch(error => { tgm103ShowError(error.response.data) })
                },
                getTags: function (id) {
                    axios.get("/api/Blog/GetTagsById/" + id)
                        .then(response => { this.tags = response.data.value })
                        .catch(error => { console.table(error.response.data) })
                },
            }
        })

        document.addEventListener("DOMContentLoaded", () => {
            blogSidebarVue.$mount('#blogSidebarApp')
        })
    </script>
}
