<div class="container" id="blogSidebarApp" />

<div class="blog-area pt-15 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <partial name="_BlogDetailsPartial" />
            </div>
            <div class="col-lg-4">
                <div class="sidebar-wrapper">
                    @*搜尋列*@
                    @*<div class="sidebar-widget mb-50" data-aos="fade-up" data-aos-delay="200">
                    <div class="search-wrap-3">
                    <form class="search-3-form" action="#">
                    <input placeholder="Search*" type="text">
                    <button class="button-search"><i class="fa fa-search"></i></button>
                    </form>
                    </div>
                    </div>*@

                    @*作者欄位*@
                    <div class="sidebar-widget mb-50" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-author-content text-center">
                            <a :href="memberArticlesLink(article.id)"><img src="/assets/images/blog/blog-author.png" alt=""></a>
                            <h2>{{ article.memberName }}</h2>
                            <h4>Blog Writer</h4>
                            <div class="social-icon-style-1">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-glide-g"></i></a>
                            </div>
                        </div>
                    </div>

                    @*分類 Categories*@
                    <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title-2 mb-25">
                            <h3>Categories</h3>
                        </div>
                        <div class="sidebar-list-style-2">
                            <ul v-for="(count, category) in categories" :key="category">
                                <li><a href="#">{{ category }} ({{ count }})</a></li>
                            </ul>
                        </div>
                    </div>

                    @*最新發表文章*@
                    <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title-2 mb-30">
                            <h3>Latest Post</h3>
                        </div>
                        <div class="latest-post-wrap">
                            <div class="single-latest-post" v-for="larticle in lastestPosts">
                                <div class="latest-post-img">
                                    <a href="#"><img src="/assets/images/blog/latest-post-1.png" alt=""></a>
                                </div>
                                <div class="latest-post-content">
                                    <span>{{ showDate(larticle.createdDate) }}</span>
                                    <h4><a :href="articleLink(larticle.id)">{{ larticle.title }}</a></h4>
                                    <div class="latest-post-btn">
                                        <a :href="articleLink(larticle.id)">Continue Reading...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-35" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title-2 mb-30">
                            <h3>Tags</h3>
                        </div>
                        <div class="sidebar-widget-tag-2">
                            <a href="#">Furniture</a>
                            <a href="#">Electronic</a>
                            <a href="#">Home Decore</a>
                            <a href="#">Design Home</a>
                            <a href="#">Furniture</a>
                        </div>
                    </div>
                    <div class="sidebar-widget" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-banner">
                            <a href="#"><img src="/assets/images/banner/banner-29.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="https://unpkg.com/vuejs-paginate@1.9.0"></script>
    <script>
        Vue.component('paginate', VuejsPaginate);

        let blogSidebarVue = new Vue({
            //el:'#blogSidebarApp',
            name: "blogSidebarApp",
            data: {
                article: {},    // get article by id
                articles: [],   // get all articles
                categories: {},
                lastestPosts: {},
                articleBaseLink: "/Blog/Details/",
                articleId: @ViewBag.ArticleId,
                currentPage: 1,
                countPerPage: 2,
                aDay: "",
                aMonth: "",
                tags: {},
            },
            mounted: function () {
                let self = this
                fetch('/api/Blog/GetMembersArticles/' + this.articleId)
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        if (result.value.status === 200 || result.statusCode === 200) {
                            //console.table("sidebar articles:", result.value);
                            self.articles = result.value;
                        } else {
                            tgm103ShowError(result.value.message)
                        }
                    })
                //self.getTags(self.articleId)
                //self.getArticleById(self.articleId)
                self.getCategories()
                self.getLastestPosts()
            },
            computed: {
                filterArticles: function () {
                    var min = this.countPerPage * (this.currentPage - 1 <= 0 ? 0 : this.currentPage - 1);
                    var max = this.countPerPage * this.currentPage;
                    this.min = min;
                    this.max = max;
                    return this.articles.slice(min, max)
                },

            },
            methods: {
                clickCallback: function (page) {
                    this.currentPage = page;
                    console.log(page)
                },
                articleLink: function (id) { return "/Blog/Details/" + id },
                memberArticlesLink: function (id) { return "/Blog/Sidebar/" + id },
                articleDay(currentDate) {
                    var date = new Date(currentDate);
                    this.aDay = date.getDate()
                    return this.aDay
                },
                getMonthName(currentDate) {
                    const date = new Date(currentDate)
                    this.aMonth = date.toLocaleString('default', { month: 'short' })
                    return this.aMonth
                },
                showDate(currentDate) {
                    const date = new Date(currentDate)
                    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                    return date.toLocaleDateString(date, options)
                },
                getArticleById(id) {
                    this.articleBaseLink = "/api/Blog/GetById/",
                        axios.get(this.articleBaseLink + id)
                            .then(response => {
                                if (response.status === 200 && response.data.statusCode === 200)
                                    this.article = response.data.value
                            })
                            .catch(error => { tgm103ShowError(error.response.data) })
                },
                getCategories: function () {
                    axios.get('/api/Blog/CountCategories')
                        .then(response => {
                            if (response.status === 200 && response.data.statusCode === 200) {
                                console.log("count categories:", response.data.value)
                                this.categories = response.data.value
                            }
                        })
                },
                getLastestPosts: function () {
                    axios.get('/api/Blog/GetLastestPost')
                        .then(response => {
                            if (response.status === 200 && response.data.statusCode === 200) {
                                console.log("lastes posts:", response.data.value)
                                this.lastestPosts = response.data.value
                            }
                        })
                        .catch(error => { tgm103ShowError(error.response.data) })
                },
                getTags: function (id) {
                    axios.get("/api/Blog/GetTagsById/" + id)
                        .then(response => {
                            if (response.status === 200 && response.data.statusCode === 200)
                                this.tags = response.data.value
                        })
                        .catch(error => { tgm103ShowError(error.response.data) })
                },
            }
        })

        document.addEventListener("DOMContentLoaded", () => {
            blogSidebarVue.$mount('#blogSidebarApp')
        })
    </script>
}
