<div class="container" id="app" />

<div class="blog-area pt-15 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <partial name="_BlogDetailsPartial" />
            </div>
            <div class="col-lg-4">
                <div class="sidebar-wrapper">
                    @*搜尋列*@
                    @*<div class="sidebar-widget mb-50" data-aos="fade-up" data-aos-delay="200">
                    <div class="search-wrap-3">
                    <form class="search-3-form" action="#">
                    <input placeholder="Search*" type="text">
                    <button class="button-search"><i class="fa fa-search"></i></button>
                    </form>
                    </div>
                    </div>*@

                    @*作者欄位*@
                    <div class="sidebar-widget mb-50" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-author-content text-center">
                            <a :href="memberArticlesLink(article.id)"><img :src="getAuthorIcon()" alt=""></a>
                            <h2>{{ article.memberName }}</h2>
                            <h4>Blog Writer</h4>
                            <div class="social-icon-style-1">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-glide-g"></i></a>
                            </div>
                        </div>
                    </div>

                    @*分類 Categories*@
                    <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title-2 mb-25">
                            <h3>Categories</h3>
                        </div>
                        <div class="sidebar-list-style-2">
                            <ul v-for="(count, category) in categories" :key="category">
                                <li><a href="#">{{ category }} ({{ count }})</a></li>
                            </ul>
                        </div>
                    </div>

                    @*最新發表文章*@
                    <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title-2 mb-30">
                            <h3>Latest Post</h3>
                        </div>
                        <div class="latest-post-wrap">
                            <div class="single-latest-post" v-for="larticle in lastestPosts">
                                <div class="latest-post-img">
                                    <a href="#"><img :src="larticle.titleImage" alt=""></a>
                                </div>
                                <div class="latest-post-content">
                                    <span>{{ larticle.createdDate }}</span>
                                    <h4><a :href="articleLink(larticle.id)">{{ larticle.title }}</a></h4>
                                    <div class="latest-post-btn">
                                        <a :href="articleLink(larticle.id)">Continue Reading...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-35" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title-2 mb-30">
                            <h3>Tags</h3>
                        </div>
                        <div class="sidebar-widget-tag-2">
                            <a href="#">Furniture</a>
                            <a href="#">Electronic</a>
                            <a href="#">Home Decore</a>
                            <a href="#">Design Home</a>
                            <a href="#">Furniture</a>
                        </div>
                    </div>
                    <div class="sidebar-widget" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-banner">
                            <a href="/Products/ProductDetails"><img :src="productImg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="https://unpkg.com/vuejs-paginate@1.9.0"></script>
    <script>
        Vue.component('paginate', VuejsPaginate);

        let app = new Vue({
            //el:'#app',
            name: "app",
            data: {
                article: {},    // get article by id
                articles: [],   // get all articles
                categories: {},
                lastestPosts: [],
                catPosts: [],
                articleBaseLink: "/Blog/Details/",
                articleId: @ViewBag.ArticleId,
                currentPage: 1,
                countPerPage: 3,
                tags: {},
                productImg: "",
            },
            created: function () {
                let self = this
                fetch('/api/Blog/GetMembersArticles/' + self.articleId)
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        if (result.value.status === 200 || result.statusCode === 200) {
                            console.table("sidebar articles:", result.value);
                            self.articles = result.value;
                        } else {
                            tgm103ShowError(result.value.message)
                        }
                    })
            },
            mounted: function () {
                let self = this

                //self.getArticleById(self.articleId)
                self.getCategories()
                self.getLastestPosts()
                //self.getTags(self.articleId)
                self.getRandomProductPic()
            },
            computed: {
                filterArticles: function () {
                    var min = this.countPerPage * (this.currentPage - 1 <= 0 ? 0 : this.currentPage - 1);
                    var max = this.countPerPage * this.currentPage;
                    this.min = min;
                    this.max = max;
                    return this.articles.slice(min, max)
                },
                formattedArticles() {
                    return this.filterArticles.map(article => {
                        const date = new Date(article.modifiedDate);
                        return {
                            ...article,
                            timeInDay: `${date.getDate()}`,
                            timeInMonth: `${date.toLocaleString('default', { month: 'short' })}`
                        };
                    });
                }
            },
            methods: {
                clickCallback: function (page) {
                    this.currentPage = page;
                    console.log(page)
                },
                articleLink: function (id) { return "/Blog/Details/" + id },
                memberArticlesLink: function (id) { return "/Blog/Sidebar/" + id },
                getAuthorIcon: function () {
                    let id = Math.floor(Math.random() * 100)
                    queryIcon = "https://picsum.photos/id/" + id + "/200/200"
                    return queryIcon
                },
                getArticleById(id) {
                    this.articleBaseLink = "/api/Blog/GetById/",
                        axios.get(this.articleBaseLink + id)
                            .then(response => {
                                if (response.status === 200 && response.data.statusCode === 200)
                                    this.article = response.data.value
                            })
                            .catch(error => { tgm103ShowError(error.response.data) })
                },
                getCategories: function () {
                    axios.get('/api/Blog/CountCategories')
                        .then(response => {
                            if (response.status === 200 && response.data.statusCode === 200) {
                                console.log("mounted categories:", response.data.value)
                                this.categories = response.data.value
                            }
                        })
                },
                getCategoriesPost: async function () {
                    await axios.get("/api/Home/GetCategoriesPost")
                        .then(response => {
                            console.log("at mounted, category posts:", response)
                            if (response.status == 200 && response.data.statusCode === 200) {
                                this.catPosts = response.data.value
                            }
                        })
                        .catch(error => { tgm103ShowError(error.response.data) })
                },
                getLastestPosts: function () {
                    axios.get('/api/Blog/GetLastestPost')
                        .then(response => {
                            if (response.status === 200 && response.data.statusCode === 200) {
                                console.log("at mounted, lastes posts:", response.data.value)
                                this.lastestPosts = response.data.value.map(article => {
                                    const date = new Date(article.createdDate)
                                    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                                    return {
                                        ...article,
                                        createdDate: date.toLocaleDateString(date, options)
                                    }
                                })
                            }
                        })
                        .catch(error => { tgm103ShowError(error) })
                },
                getTags: function (id) {
                    axios.get("/api/Blog/GetTagsById/" + id)
                        .then(response => {
                            if (response.status === 200 && response.data.statusCode === 200)
                                this.tags = response.data.value
                        })
                        .catch(error => { tgm103ShowError(error.response.data) })
                },
                getRandomProductPic: function () {
                    axios.get("/api/Blog/GetRandomProductPic")
                        .then(response => { this.productImg = response.data.value })
                        .catch(error => { tgm103ShowError(error.response.data) }
                        )
                },
            }
        })

        document.addEventListener("DOMContentLoaded", () => {
            app.$mount('#app')
        })
    </script>
}
