<div id="wishlistIndex">
    <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2>Wishlist</h2>
                <ul>    
                    <li><a href="/wishlist/Index">Home</a></li>
                    <li><i class="ti-angle-right"></i></li>
                    <li>Wishlist</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-img-1">
            <img src="/assets/images/banner/breadcrumb-1.png" alt="">
        </div>
        <div class="breadcrumb-img-2">
            <img src="/assets/images/banner/breadcrumb-2.png" alt="">
        </div>
    </div>
    <div class="wishlist-area pb-100 pt-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form>
                        <div class="wishlist-table-content">
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="width-remove"></th>
                                            <th class="width-thumbnail"></th>
                                            <th class="width-name">Product</th>
                                            <th class="width-price"> Price </th>                                            
                                            <th class="width-wishlist-cart"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="product in productInThisWishList">                                        
                                            <td class="pro-remove">
                                                <button type="button" v-on:click="RemoveToWishlist(product.wishlistId)"><i class=" ti-trash "></i></button>
                                             </td>
                                            <td class="product-thumbnail">
                                                <a href="/Products/ProductDetails"><img src="/assets/images/cart/cart-1.jpg" alt=""></a>
                                            </td>
                                            <td class="product-name">
                                                <h5><a href="/Products/ProductDetails">{{product.productName}}</a></h5>
                                            </td>
                                            <td class="product-price">
                                                <span :class="{'old-price':product.price}">${{product.price}}</span>
                                                <span class="new-price" v-if="product.sellingPrice">${{product.sellingPrice}}</span>
                                            </td>                                         
                                            <td class="wishlist-cart btn-hover">
                                                <button type="button" v-on:click="AddToCart(cart.cartId)">Add to Cart</button>
                                            </td>
                                        </tr>                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        let app = new Vue({
            el: "#wishlistIndex",
            data: {
                productInThisWishList: {
                        wishlistId: []
                        
                }
            },
            mounted: function () 
            {
                var self = this;
                fetch('/api/wishlist/GetWishList/')
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        console.log(result);
                        self.productInThisWishList = result;
                    })
            },
            methods:
            {
                 AddToCart(id) 
                 {
                    console.log("CPid:", id)
                    this.queryWishListBaseURL = '/api/wishlist/AddToCart/' + id;
                    fetch(this.queryWishListBaseURL,{method: "POST" })
                        .then(function (response) { return response.json() })
                        .then(function (result) {
                            alert(result);                            
                        })
                  },
                RemoveToWishlist(id)
                {
                    console.log("RPid",id)
                    this.queryWishListBaseURL = '/api/wishlist/RemoveToWishlist/' + id;
                    fetch(this.queryWishListBaseURL,{method:"POST"})
                        .then(function (reponse) {return response.json()})
                        .then(function (result) {
                            alert(result);
                        })
                }

            }
        });

    </script>

}