<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, ie=edge" />
    <meta http-equiv="x-ua-compatible">
    <title>WuliKaWu</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="Feel good with us.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">

    <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="WuliKaWu" />
    <meta property="og:url" content="#" />  <!--TODO: 填入發佈的網站首頁網址 -->
    <meta property="og:site_name" content="WuliKaWu - Feel good with us." />
    <!-- For the og:image content, replace the # with a link of an image -->
    <meta property="og:image" content="#" />
    <meta property="og:description" content="Feel good with us." />
    <!-- Add site Favicon -->
    <link rel="icon" href="~/assets/images/favicon/cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="~/assets/images/favicon/cropped-favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="~/assets/images/favicon/cropped-favicon-180x180.png" />
    <meta name="msapplication-TileImage" content="~/assets/images/favicon/cropped-favicon-270x270.png" />

    <!-- All CSS is here
    ============================================ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer"
          asp-fallback-href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"
          asp-fallback-href="~/assets/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/vendor/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css"
          asp-fallback-href="~/assets/css/vendor/themify-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"
          asp-fallback-href="~/assets/css/vendor/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css" integrity="sha512-kb1CHTNhoLzinkElTgWn246D6pX22xj8jFNKsDmVwIQo+px7n1yjJUZraVuR/ou6Kmgea4vZXZeUDbqKtXkEMg==" crossorigin="anonymous" referrerpolicy="no-referrer"
          asp-fallback-href="~/assets/css/plugins/animate.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer"
          asp-fallback-href="~/assets/css/plugins/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"
          asp-fallback-href="~/assets/css/plugins/magnific-popup.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.5/swiper-bundle.min.css" integrity="sha512-m3pAvNriL711NMlhkZHK6K4Tu2/RjtrzyjxZU8mlAbxxoDoURy27KajN1LGTLeEEPvaN12mKAgSCrYEwF9y0jA==" crossorigin="anonymous" referrerpolicy="no-referrer"
          asp-fallback-href="~/assets/css/plugins/swiper.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
          asp-fallback-href="~/assets/css/plugins/jquery-ui.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/nice-select.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer"
          asp-fallback-href="~/assets/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/easyzoom.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/slinky.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true" />
    @*
    不建議放此,會有 URWAbbeyW01-Bold.woff 字型參考問題
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.14/vue.min.js" integrity="sha512-BAMfk70VjqBkBIyo9UTRLl3TBJ3M0c6uyy2VMUrq370bWs7kchLNN9j1WiJQus9JAJVqcriIUX859JOm12LWtw==" crossorigin="anonymous" referrerpolicy="no-referrer"
            asp-fallback-src="~/js/vue.min.js"></script>
</head>

<body>
    <div class="main-wrapper main-wrapper-2">
        <header class="header-area header-responsive-padding header-height-1">
            <div class="header-top d-none d-lg-block bg-gray">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-6">
                            <div class="welcome-text">
                                <p>Default Welcome Msg! </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <div class="language-currency-wrap">
                                <div class="currency-wrap border-style">
                                    <a class="currency-active" href="#">$ Dollar (US) <i class=" ti-angle-down "></i></a>
                                    <div class="currency-dropdown">
                                        <ul>
                                            <li><a href="#">New Taiwan Dollar (NTD) </a></li>
                                            <li><a href="#">Chinese Yuan (CNY) </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="language-wrap">
                                    <a class="language-active" href="#"><img src="~/assets/images/icon-img/flag.png" alt=""> English <i class=" ti-angle-down "></i></a>
                                    <div class="language-dropdown">
                                        <ul>
                                            <li><a href="#"><img src="~/assets/images/icon-img/flag.png" alt="">English </a></li>
                                            <li><a href="#"><img src="~/assets/images/icon-img/taiwan16x16.png" alt="">繁中</a></li>
                                            <li><a href="#"><img src="~/assets/images/icon-img/china16x16.png" alt="">简中</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom sticky-bar">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="logo">
                                <a href="/Home"><img src="~/assets/images/logo/logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-block d-flex justify-content-center">
                            <div class="main-menu text-center">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="/Home">HOME</a>
                                            @*<ul class="sub-menu-style">
                                            <li><a href="/Home/IndexOne">Home version 1 </a></li>
                                            <li><a href="/Home/IndexTwo">Home version 2</a></li>
                                            <li><a href="/Home/IndexThree">Home version 3</a></li>
                                            <li><a href="/Home/IndexFour">Home version 4</a></li>
                                            <li><a href="/Home/IndexFive">Home version 5</a></li>
                                            <li><a href="/Home/IndexSix">Home version 6</a></li>
                                            <li><a href="/Home/IndexSeven">Home version 7</a></li>
                                            <li><a href="/Home/IndexEight">Home version 8</a></li>
                                            </ul>*@
                                        </li>
                                        <li>
                                            <a href="/Products">SHOP</a>
                                            <ul class="sub-menu-style">
                                                <li>
                                                    @*<a class="dropdown-title" href="#">Shop Layout</a>*@
                                                    <ul>
                                                        <li><a href="/Products">standard style</a></li>
                                                        <li><a href="/Products/Create">product create</a></li>
                                                        <li><a href="/Products/ProductDetails">Product Details</a></li>
                                                        <li><a href="/Products/SopList">shop list style</a></li>
                                                        <li><a href="/Products/Match">Clothes Matching</a></li>
                                                        @* <li><a asp-controller="Home" asp-action="ShopListSidebar">shop list sidebar</a></li>
                                                        <li><a asp-controller="Home" asp-action="ShopRightSidebar">shop right sidebar</a></li>
                                                        <li><a asp-controller="Home" asp-action="ShopLocation">store location</a></li>*@
                                                    </ul>

                                                    @*<li>
                                                    <a class="dropdown-title" href="#">Products Layout</a>
                                                    <ul>
                                                    <li><a asp-controller="Home" asp-action="ProductDetailsTwo">tab style 2</a></li>
                                                    <li><a asp-controller="Home" asp-action="ProductDetailsGallery">gallery style </a></li>
                                                    <li><a asp-controller="Home" asp-action="ProductDetailsAffiliate">affiliate style</a></li>
                                                    <li><a asp-controller="Home" asp-action="ProductDetailsGroup">group style</a></li>
                                                    <li><a asp-controller="Home" asp-action="ProductDetailsFixedImg">fixed image style </a></li>
                                                    </ul>
                                                    </li>
                                                    <li>
                                                    <a href="/Products/Index"><img src="~/assets/images/banner/menu.png" alt=""></a>
                                                    </li>*@
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">PAGES</a>
                                            <ul class="sub-menu-style">
                                                <li><a href="/AboutUs">about us </a></li>
                                                <li><a href="/Cart">cart page</a></li>
                                                <li><a href="/Cart">checkout </a></li>
                                                <li><a href="/Member/MyAccount">my account</a></li>
                                                <li><a href="/WishList">wishlist </a></li>
                                                @*<li><a href="/Cart/Compare">compare </a></li>*@
                                                <li><a href="/ContactUs">contact us </a></li>
                                                <li><a title="Login Register" href="/Member/Login"><i class="pe-7s-user"></i> login / register </a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/Blog/Index">BLOG</a>
                                            <ul class="sub-menu-style">
                                                <li><a href="/Blog/Index">blog standard </a></li>
                                                <li><a href="/Blog/Sidebar">blog sidebar</a></li>
                                                <li><a href="/Blog/Details">blog details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/AboutUs">ABOUT</a></li>
                                        <li><a href="/ContactUs">CONTACT US</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="header-action-wrap">
                                <div class="header-action-style header-search-1">
                                    <a class="search-toggle" href="#">
                                        <i class="pe-7s-search s-open"></i>
                                        <i class="pe-7s-close s-close"></i>
                                    </a>
                                    <div class="search-wrap-1">
                                        <form action="#">
                                            <input placeholder="Search products…" type="text">
                                            <button class="button-search"><i class="pe-7s-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="header-action-style">
                                    <a title="Match" href="/Products/Match">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="header-action-style">
                                    <a title="Wishlist" href="/WishList"><i class="pe-7s-like"></i></a>
                                </div>

                                <div class="header-action-style">
                                    @* MVC 登入相關檢視 *@
                                    @*<partial name="_LoginIdentityPartial" />*@
                                    <partial name="_LoginPartial" />
                                </div>
                                <div class="header-action-style header-action-cart">
                                    <a class="cart-active" href="#">
                                        <i class="pe-7s-shopbag"></i>
                                        <span class="product-count bg-black">01</span>
                                    </a>
                                </div>
                                <div class="header-action-style d-block d-lg-none">
                                    <a class="mobile-menu-active-button" href="#"><i class="pe-7s-menu"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- mini cart start -->
        <div class="sidebar-cart-active">
            <div class="sidebar-cart-all">
                <a class="cart-close" href="#"><i class="pe-7s-close"></i></a>
                <div class="cart-content">
                    <h3>Shopping Cart</h3>
                    <ul>
                        <li>
                            <div class="cart-img">
                                <a href="#"><img src="~/assets/images/cart/cart-1.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Stylish Swing Chair</a></h4>
                                <span> 1 × $49.00	</span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                        <li>
                            <div class="cart-img">
                                <a href="#"><img src="~/assets/images/cart/cart-2.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Modern Chairs</a></h4>
                                <span> 1 × $49.00	</span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                    </ul>
                    <div class="cart-total">
                        <h4>Subtotal: <span>$170.00</span></h4>
                    </div>
                    <div class="cart-btn btn-hover">
                        <a class="theme-color" href="/Cart">view cart</a>
                    </div>
                    <div class="checkout-btn btn-hover">
                        <a class="theme-color" href="/Cart">checkout</a>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

        <footer class="footer-area">
            <div class="bg-gray-2">
                <div class="container">
                    <div class="footer-top pt-80 pb-35">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="footer-widget footer-about mb-40">
                                    <div class="footer-logo">
                                        <a href="/Home"><img src="~/assets/images/logo/logo.png" alt="logo"></a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, cons adipi elit, sed do eiusmod tempor incididunt ut aliqua.</p>
                                    <div class="payment-img">
                                        <a href="#"><img src="~/assets/images/icon-img/payment.png" alt="logo"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="footer-widget footer-widget-margin-1 footer-list mb-40">
                                    <h3 class="footer-title">Information</h3>
                                    <ul>
                                        <li><a href="/AboutUs">About Us</a></li>
                                        <li><a href="#">Delivery Information</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#">Customer Service</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                                <div class="footer-widget footer-list mb-40">
                                    <h3 class="footer-title">My Accound</h3>
                                    <ul>
                                        <li><a href="/Member/MyAccount">My Account</a></li>
                                        <li><a href="#">Order History</a></li>
                                        <li><a href="/WishList">Wish List</a></li>
                                        <li><a href="#">Newsletter</a></li>
                                        <li><a href="#">Order History</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="footer-widget footer-widget-margin-2 footer-address mb-40">
                                    <h3 class="footer-title">Get in touch</h3>
                                    <ul>
                                        <li><span>Address: </span>No. 321, Section 1, Jinan Rd, Zhongzheng District, Taipei City </li>
                                        <li><span>Telephone Enquiry:</span> (012) 345 6789</li>
                                        <li><span>Email: </span>wulikawu@gmail.com</li>
                                    </ul>
                                    <div class="open-time">
                                        <p>Open : <span>11:00 AM</span> - Close : <span>22:00 PM</span></p>
                                        <p>Saturday - Sunday : Close</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-3">
                <div class="container">
                    <div class="footer-bottom copyright text-center bg-gray-3">
                        <p>Copyright ©2022 All rights reserved | Made with <i class="fa fa-heart"></i> by <a href="#"> TGM103 Team01</a>.</p>
                    </div>
                </div>
            </div>
            @* ============= 原 Core MVC 專案範本之引用檔案
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            =======================================================================*@
        </footer>
        <!-- Product Modal start -->
        <div class="modal fade quickview-modal-style" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close"><i class=" ti-close "></i></a>
                    </div>
                    <div class="modal-body">
                        <div class="row gx-0">
                            <div class="col-lg-5 col-md-5 col-12">
                                <div class="modal-img-wrap">
                                    <img src="/assets/images/product/quickview.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-12">
                                <div class="product-details-content quickview-content">
                                    <h2>New Modern Chair</h2>
                                    <div class="product-details-price">
                                        <span class="old-price">$25.89 </span>
                                        <span class="new-price">$20.25</span>
                                    </div>
                                    <div class="product-details-review">
                                        <div class="product-rating">
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                            <i class=" ti-star"></i>
                                        </div>
                                        <span>( 1 Customer Review )</span>
                                    </div>
                                    <div class="product-color product-color-active product-details-color">
                                        <span>Color :</span>
                                        <ul>
                                            <li><a title="Pink" class="pink" href="#">pink</a></li>
                                            <li><a title="Yellow" class="active yellow" href="#">yellow</a></li>
                                            <li><a title="Purple" class="purple" href="#">purple</a></li>
                                        </ul>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ornare tincidunt neque vel semper. Cras placerat enim sed nisl mattis eleifend.</p>
                                    <div class="product-details-action-wrap">
                                        <div class="product-quality">
                                            <input class="cart-plus-minus-box input-text qty text" name="qtybutton" value="1">
                                        </div>
                                        <div class="single-product-cart btn-hover">
                                            <a href="#">Add to cart</a>
                                        </div>
                                        <div class="single-product-wishlist">
                                            <a title="Wishlist" href="#"><i class="pe-7s-like"></i></a>
                                        </div>
                                        <div class="single-product-compare">
                                            <a title="Compare" href="#"><i class="pe-7s-shuffle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Modal end -->
        <!-- Mobile Menu start -->
        <div class="off-canvas-active">
            <a class="off-canvas-close"><i class=" ti-close "></i></a>
            <div class="off-canvas-wrap">
                <div class="welcome-text off-canvas-margin-padding">
                    <p>Default Welcome Msg! </p>
                </div>
                <div class="mobile-menu-wrap off-canvas-margin-padding-2">
                    <div id="mobile-menu" class="slinky-mobile-menu text-left">
                        <ul>
                            <li>
                                <a href="/Home">HOME</a>
                                @*<a href="#">HOME</a>
                                <ul>
                                <li><a href="/Home/IndexOne">Home version 1 </a></li>
                                <li><a href="/Home/IndexTwo">Home version 2</a></li>
                                <li><a href="/Home/IndexThree">Home version 3</a></li>
                                <li><a href="/Home/IndexFour">Home version 4</a></li>
                                <li><a href="/Home/IndexFive">Home version 5</a></li>
                                <li><a href="/Home/IndexSix">Home version 6</a></li>
                                <li><a href="/Home/IndexSeven">Home version 7</a></li>
                                <li><a href="/Home/IndexEight">Home version 8</a></li>
                                </ul>*@
                            </li>
                            <li>
                                <a href="#">SHOP</a>
                                <ul>
                                    <li><a href="/Products/Index">standard style</a></li>
                                    <li><a href="/Products/Create">product create</a></li>
                                    <li><a href="/Products/ProductDetails">Product Details</a></li>
                                    <li><a href="/Products/SopList">shop list style</a></li>
                                    <li><a href="/Products/Match">clothes catching</a></li>
                                    @* <li><a asp-controller="Home" asp-action="ShopListSidebar">shop list sidebar</a></li>
                                    <li><a asp-controller="Home" asp-action="ShopRightSidebar">shop right sidebar</a></li>
                                    <li><a asp-controller="Home" asp-action="ShopLocation">store location</a></li>*@

                                    @*<li>
                                    <a href="#">Product Layout</a>
                                    <ul>

                                    <li><a asp-controller="Home" asp-action="ProductDetailsTwo">Tab Style 2</a></li>
                                    <li><a asp-controller="Home" asp-action="ProductDetailsGallery">Gallery style </a></li>
                                    <li><a asp-controller="Home" asp-action="ProductDetailsAffiliate">Affiliate style</a></li>
                                    <li><a asp-controller="Home" asp-action="ProductDetailsGroup">Group Style</a></li>
                                    <li><a asp-controller="Home" asp-action="ProductDetailsFixedImg">Fixed Image Style </a></li>
                                    </ul>
                                    </li>*@
                                </ul>
                            </li>
                            <li>
                                <a href="#">PAGES </a>
                                <ul>
                                    <li><a href="/AboutUs/Index">About Us </a></li>
                                    <li><a href="/Cart/Index">Cart Page</a></li>
                                    <li><a href="/Cart/Checkout">Checkout </a></li>
                                    <li><a href="/Member/MyAccount">My Account</a></li>
                                    <li><a href="/WishList/Index">Wishlist </a></li>
                                    @*<li><a href="/Cart/Compare">Compare </a></li>*@
                                    <li><a href="/ContactUs/Index">Contact us </a></li>
                                    <li><a title="Login Register" href="/Member/Login">><i class="pe-7s-user"></i> Login / Register </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">BLOG </a>
                                <ul>
                                    <li><a href="/Blog/Index">Blog Standard </a></li>
                                    <li><a href="/Blog/Sidebar">Blog Sidebar</a></li>
                                    <li><a href="/Blog/Details">Blog Details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/AboutUs/Index">ABOUT US</a>
                            </li>
                            <li>
                                <a href="/ContactUs/Index">CONTACT US</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="language-currency-wrap language-currency-wrap-modify">
                    <div class="currency-wrap border-style">
                        <a class="currency-active" href="#">$ Dollar (US) <i class=" ti-angle-down "></i></a>
                        <div class="currency-dropdown">
                            <ul>
                                <li><a href="#">New Taiwan Dollar (NTD) </a></li>
                                <li><a href="#">Chinese Yuan (CNY) </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="language-wrap">
                        <a class="language-active" href="#"><img src="~/assets/images/icon-img/flag.png" alt=""> English <i class=" ti-angle-down "></i></a>
                        <div class="language-dropdown">
                            <ul>
                                <li><a href="#"><img src="~/assets/images/icon-img/flag.png" alt="">English </a></li>
                                <li><a href="#"><img src="~/assets/images/icon-img/taiwan16x16.png" alt="">繁中</a></li>
                                <li><a href="#"><img src="~/assets/images/icon-img/china16x16.png" alt="">简中</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- All JS is here -->
    <script src="~/assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
            asp-fallback-src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.2/jquery-migrate.min.js" integrity="sha512-3fMsI1vtU2e/tVxZORSEeuMhXnT9By80xlmXlsOku7hNwZSHJjwcOBpmy+uu+fyWwGCLkMvdVbHkeoXdAzBv+w==" crossorigin="anonymous" referrerpolicy="no-referrer"
            asp-fallback-src="~/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"
            asp-fallback-src="~/assets/js/vendor/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"
            asp-fallback-src="~/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/wow.js"></script>
    <script src="~/assets/js/plugins/scrollup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"
            asp-fallback-src="~/assets/js/plugins/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
            asp-fallback-src="~/assets/js/plugins/magnific-popup.js"></script>
    <script src="~/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="~/assets/js/plugins/swiper.min.js"></script>
    <script src="~/assets/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"
            asp-fallback-src="~/assets/js/plugins/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js" integrity="sha512-0bEtK0USNd96MnO4XhH8jhv3nyRF0eK87pJke6pkYf3cM0uDIhNJy9ltuzqgypoIFXw3JSuiy04tVk4AjpZdZw==" crossorigin="anonymous" referrerpolicy="no-referrer"
            asp-fallback-src="~/assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="~/assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous" referrerpolicy="no-referrer"
            asp-fallback-src="~/assets/js/plugins/waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"
            asp-fallback-src="~/assets/js/plugins/jquery.counterup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"
            asp-fallback-src="~/assets/js/plugins/select2.min.js"></script>
    <script src="~/assets/js/plugins/easyzoom.js"></script>
    <script src="~/assets/js/plugins/slinky.min.js"></script>
    <script src="~/assets/js/plugins/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script src="~/assets/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        function showEorror(msg){
            Swal.fire({
                icon: 'success',
                title: '成功',
                text: msg,
                timer: 2000
            })
        }
    </script>
</body>
</html>
