@*瀏覽列自訂的會員顯示提醒*@
<ul class="navbar-nav">
    @{
        if (User.Identity.IsAuthenticated)
        {
            <a title="Hi！@User.Identity.Name" asp-controller="Member" asp-action="Logout">
                @if (User.IsInRole("Admin"))
                {
                    <span class="active product-count"><i class="fa fa-user" aria-hidden="true"></i></span>
                }
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
        }
        else
        {
            <a title="Login/Register" asp-controller="Member" asp-action="Login"><i class="pe-7s-user"></i></a>
        }
    }
</ul>
