@model ActivateModel

<div class="container" id="activateAccountApp" />

<div class="login-register-area pb-100 pt-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 offset-lg-2">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab" href="#lg1">
                            <h4> Activate </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="contact-form-style">
                                    <label for="urlQuery" class="required" hidden></label>
                                    <input type="text" id="urlQuery" name="urlQuery" v-model="urlQuery" readonly hidden>

                                    <label for="Password">請輸入您的密碼：</label>
                                    <input id="Password" name="Password" type="password" v-model="urlQuery.password" class="mb-35" />

                                    <div class="contact-us-btn btn-hover mt-10">
                                        <button type="button" v-on:click.prevent="handleSubmit()" class="form-control">Vertify</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        let actVue = new Vue({
            data: {
                urlQuery: {
                    email: "",
                    token: "",
                    password: "",
                },
            },
            mounted: function () {
                let self = this
                self.urlQuery.email = "@Model.Email"
                self.urlQuery.token = "@Model.Token"
            },
            methods: {
                handleSubmit() {
                    axios.post('/api/Member/Activate', this.urlQuery)
                        .then(response => {
                            if (response.status === 200 && response.data.statusCode === 200) {
                                tgm103ShowSuccess(response.data.success)
                                    .then((result) => {
                                        if (result.dismiss === Swal.DismissReason.timer) {
                                            window.location = "Login"
                                        }
                                    })
                            } else { tgm103ShowSuccess(response.data.message) }
                        })
                        .catch(error => {
                            if (error.response.data.message) { tgm103ShowError(error.response.data.message) }
                        })
                },
            }
        });

        document.addEventListener("DOMContentLoaded", () => {
            actVue.$mount('#activateAccountApp')
        })
    </script>
}