<div class="container" id="forgetPwdApp" />

<div class="login-register-area pb-100 pt-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 offset-lg-2">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab" href="#lg1">
                            <h4> Send Email </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form id="fpwdForm" name="fpwdForm" method="post">
                                        <label for="Account" class="required">帳號</label>
                                        <input type="text" id="Account" name="Account" v-model="fieldsForgetPwd.Account" placeholder="Username">

                                        <label for="Email" class="required">信箱</label>
                                        <input type="email" id="Email" name="Email" v-model="fieldsForgetPwd.Email" placeholder="Email">

                                        <div class="button-box btn-hover">
                                            <button v-on:click="handleSubmit()">Send Email</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="lg2" class="tab-pane" v-if="showReset">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form action="ResetPassword" method="post" id="restForm">
                                        <label id="NewPassword" name="NewPassword">新密碼</label>
                                        <input type="password" name="NewPassword" placeholder="New Password" />

                                        <label id="ConfirmedPassword" name="ConfirmedPassword">確認密碼</label>
                                        <input type="password" name="ConfirmedPassword" placeholder="Confirmed Password" />

                                        <div class="button-box btn-hover">
                                            <button v-on:click="handleReset()">Modify Password</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        let forgetPwdVue = new Vue({
            data: {
                showReset: false,
                fieldsForgetPwd: {
                    Account: "",
                    Email: "",
                },
                fieldsResetPwd: {
                    Password: ""
                },
            },
            mounted: function () {
                console.log("")
            },
            methods: {
                handleSubmit() {
                    axios.post('/Member/ForgetPassword', this.fieldsForgetPwd)
                        .then(response => {
                            if (response.data.success) {
                                swal("Success!", response.data.success, 'success');
                            }
                        })
                        .catch(error => {
                            if (error.response.data.message) {
                                console.log(error.response.data.message)
                                swal("Error!", error.response.data.message, "error");
                            }
                            //document.getElementById('fpwdForm').reset()    // reset form
                        });
                },
            }
        });

        document.addEventListener("DOMContentLoaded", () => {
            forgetPwdVue.$mount('#forgetPwdApp')
        })
    </script>
}