<div class="container" id="app" />

<div class="login-register-area pb-100 pt-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 offset-lg-2">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab" href="#lg1">
                            <h4> login </h4>
                        </a>
                        <a data-bs-toggle="tab" href="#lg2">
                            <h4> register </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form id="loginForm" name="loginForm" method="post">
                                        <label for="Account" class="required">帳號</label>
                                        <input type="text" id="Account" name="Account" v-model="fieldsLogin.account" placeholder="Username">

                                        <label for="Password" class="required">密碼</label>
                                        <input type="password" id="Password" name="Password" v-model="fieldsLogin.password" placeholder="Password">

                                        <div class="login-toggle-btn">
                                            @*<label for="RememberMe">Remember me</label>
                                            <input type="checkbox" id="RememberMe" name="RememberMe" :value="fieldsLogin.RememberMe">*@
                                            <a href="/Member/ForgetPassword">Forgot Password?</a>
                                        </div>
                                        <div class="button-box btn-hover">
                                            <button v-on:click="handleSubmit()">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="lg2" class="tab-pane">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form action="Register" method="post">
                                        <label id="Account" name="Account">帳號</label>
                                        <input type="text" name="Account" placeholder="Username" />

                                        <label id="Password" name="Password">密碼</label>
                                        <input type="password" name="Password" placeholder="Password" />

                                        <label id="Name" name="Name">名字</label>
                                        <input type="text" name="Name" />

                                        <label id="Gender" name="Gender">性別</label>
                                        <select>
                                            <option value="">--- 請選擇 ---</option>
                                            <option value="0">Female</option>
                                            <option value="1">Male</option>
                                        </select>

                                        <label id="Birthday" name="Birthday" class="mt-15">出生年月日</label>
                                        <input type="date" id="Birthday" name="Birthday" />

                                        <label id="Email" name="Email">電子信箱</label>
                                        <input name="Email" placeholder="E-mail" type="email" />

                                        <label id="Address" name="Address">住址</label>
                                        <input type="text" name="Address" id="Address" />

                                        <label id="PhoneNumber" name="PhoneNumber">住家電話</label>
                                        <input type="text" id="PhoneNumber" name="PhoneNumber" />

                                        <label id="MobilePhone" name="MobilePhone">行動電話</label>
                                        <input type="text" id="MobilePhone" name="MobilePhone" />
                                        <div class="button-box btn-hover">
                                            <button v-on:click="handleRegister()">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script>
        let app = new Vue({
            data: {
                fieldsLogin: {
                    account: "",
                    password: "",
                    rememberMe: "",
                },
            },
            methods: {
                handleSubmit() {
                    axios.post("/Member/Login", this.fieldsLogin)
                        .then(response => {
                            console.log("....login response", response)
                            if (response.data.success) { tgm103ShowSuccess(response.data.success) }
                            else { tgm103ShowSuccess(response.data.message) }
                        })
                        .catch(error => {
                            console.log("login error...", error)
                            if (error.response.data.message) { tgm103ShowError(error.response.data.message) }
                        });
                    //document.getElementById('loginForm').reset()    // reset form
                },
                handleRegister() {
                    axios.post('/Member/Register', this.fieldsRegister)
                        .then(response => {
                            if (response.data.success) { tgm103ShowSuccess(response.data.message) }
                            else { tgm103ShowError(response.data.message) }
                        })
                        .catch(error => {
                            console.log("...reg err", error)
                            if (error.response.data.message) {
                                console.log(error.response.data.message)
                                swal("Error!", error.response.data.message, "error");
                            }
                        });
                    //document.getElementById('restForm').reset()    // reset form
                },
            },
        })

        document.addEventListener("DOMContentLoaded", () => {
            app.$mount('#app')
        })
    </script>
}
