<div id="cartIndex">

    <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2>Cart</h2>
                <ul>                    
                    <li><a href="/cart/Index">Home</a></li>
                    <li><i class="ti-angle-right"></i></li>
                    <li>Cart</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-img-1">
            <img src="/assets/images/banner/breadcrumb-1.png" alt="">
        </div>
        <div class="breadcrumb-img-2">
            <img src="/assets/images/banner/breadcrumb-2.png" alt="">
        </div>
    </div>
    <div class="cart-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form >
                        <div class="cart-table-content">
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="col-lg-2"></th>
                                            <th class="col-lg-2">Product</th>
                                            <th class="col-lg-1"> Size</th>
                                            <th class="col-lg-1"> Color</th>
                                            <th class="col-lg-1"> Price</th>
                                            <th class="col-lg-1">Quantity</th>
                                            <th class="col-lg-1">Subtotal</th>
                                            <th class="col-lg-1"></th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr v-for="cart in productInThisCart">
                                            <td class="product-thumbnail">                                                
                                                <a href="/Products/ProductDetails"><img src="/assets/images/cart/cart-1.jpg" alt=""></a>
                                            </td>
                                            <td class="product-name">
                                                <h5><a href="/Products/ProductDetails">{{cart.product.productName}}</a></h5>
                                            </td>
                                            <td><span>{{cart.product.size}}</span></td>
                                            <td><span>{{cart.product.color}}</span></td>
                                            <td class="product-price">
                                                <span :class="{'old-price':cart.product.price}">${{cart.product.price}}</span>
                                                <span class="new-price" v-if="cart.product.sellingPrice">${{cart.product.sellingPrice}}</span>
                                            </td>
                                            <td class="cart-quality">
                                                @*<div class="product-quality">
                                                <input class="cart-plus-minus-box input-text qty text"  name="qtybutton" value="1">

                                                </div>*@
                                                <input type="number" name="qtybutton" :value="cart.product.quantity" readonly>
                                                @*<span>{{cart.quantity}}</span>*@
                                            </td>
                                            <td class="product-price">
                                                <span :class="{'old-price':cart.product.price}">${{cart.product.price*cart.product.quantity}}</span>
                                                <span class="new-price" v-if="cart.product.sellingPrice">${{cart.product.sellingPrice*cart.product.quantity}}</span>
                                            </td>
                                            <td class="product-remove"><i class=" ti-trash "></i></td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="cart-shiping-update-wrapper">
                                    <div class="cart-shiping-update btn-hover">
                                        <a href="/Products/Index">Continue Shopping</a>                                        
                                    </div>
                                    <div class="cart-clear-wrap">
                                        @*Clear Cart Action尚未完成*@
                                        <div class="cart-clear btn-hover">
                                            <a href="/Cart/Index">Clear Cart</a>
                                            @*<a href="#">Clear Cart</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="grand-total-wrap" v-for="cart in productInThisCart">
                        <div class="grand-total-content">
                            <div class="cart-calculate-discount-wrap mb-40">
                                <h4>Coupon Discount </h4>
                                <div class="calculate-discount-content">
                                    <div class="input-style">
                                        @*Discount優惠活動尚未完成*@
                                        <select>
                                            <option>Coupon Code</option>
                                            <option>初春活動<span>{{cart.groupon}}</span></option>
                                            <option>情人節活動<span>{{cart.groupon}}</span></option>
                                        </select>
                                    </div>
                                    <div class="calculate-discount-btn btn-hover">
                                        @*<a class="btn theme-color" href="#">Apply Coupon</a>*@
                                        <h3>Subtotal <span>$180.00</span></h3>
                                        <div class="grand-total">
                                            <h4>Total <span>$185.00</span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grand-total-btn btn-hover">
                            <a class="btn theme-color" asp-action="Checkout" asp-controller="Home">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        let app = new Vue({
            el: "#cartIndex",
            data: {
                productInThisCart: {
                    cartId:[]
                }
            },
            mounted: function () {
                var self = this;
                fetch('/api/cart/GetCart/')
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        console.log(result);
                        self.productInThisCart = result;
                    })
            },
            methods:
            {            
                RemoveToWishlist(id)
            {
                 console.log("RPid",id)
                            this.queryCartBaseURL = '/api/wishlist/RemoveToWishlist/' + id;
                    fetch(this.queryCartBaseURL,{method:"POST"})
                        .then(function (reponse) {return response.json()})
                        .then(function (result) {
                            alert(result);
                        })
            }
            }
        });
    </script>
    }
