<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
﻿<div id="cartIndex">

=======
﻿@model IEnumerable<WuliKaWu.Data.Orders>
>>>>>>> [更新] 資料庫資料表
=======
﻿@model IEnumerable<WuliKaWu.Data.Order>
>>>>>>> [新增]所有資料表
=======
﻿@model IEnumerable<WuliKaWu.Data.Cart>
>>>>>>> [新增]OrderDetailsTable，[更新]Common表、Cart表、ContactMessage表、Member表、Order表加入Summary
=======
﻿<div id="cartIndex">

>>>>>>> 新增ShopContext Entity的Cart及Wishlist,新增Vue2 dev version及production,調整Cartapicontroller版面
    <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2>Cart</h2>
                <ul>                    
                    <li><a href="/cart/Index">Home</a></li>
                    <li><i class="ti-angle-right"></i></li>
                    <li>Cart</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-img-1">
            <img src="/assets/images/banner/breadcrumb-1.png" alt="">
        </div>
        <div class="breadcrumb-img-2">
            <img src="/assets/images/banner/breadcrumb-2.png" alt="">
        </div>
    </div>
    <div class="cart-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form >
                        <div class="cart-table-content">
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
<<<<<<< HEAD
                                            <th class="col-lg-2"></th>
=======
                                            <th class="col-lg-3"></th>
>>>>>>> 新增ShopContext Entity的Cart及Wishlist,新增Vue2 dev version及production,調整Cartapicontroller版面
                                            <th class="col-lg-2">Product</th>
                                            <th class="col-lg-1"> Size</th>
                                            <th class="col-lg-1"> Color</th>
                                            <th class="col-lg-1"> Price</th>
<<<<<<< HEAD
<<<<<<< HEAD
                                            <th class="col-lg-1">Quantity</th>
                                            <th class="col-lg-1">Subtotal</th>
                                            <th class="col-lg-1"></th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr v-for="cart in productInThisCart">
                                            <td class="product-thumbnail">                                                
                                                <a href="/Products/ProductDetails"><img src="/assets/images/cart/cart-1.jpg" alt=""></a>
                                            </td>
                                            <td class="product-name">
                                                <h5><a href="/Products/ProductDetails">{{cart.product.productName}}</a></h5>
                                            </td>
                                            <td><span>{{cart.product.size}}</span></td>
                                            <td><span>{{cart.product.color}}</span></td>
                                            <td class="product-price">
                                                <span :class="{'old-price':cart.product.price}">${{cart.product.price}}</span>
                                                <span class="new-price" v-if="cart.product.sellingPrice">${{cart.product.sellingPrice}}</span>
=======
                                            @*<th class="col-lg-2"> SellingPrice</th>*@
=======
>>>>>>> 幫艾汶更改product的action
                                            <th class="col-lg-1">Quantity</th>
                                            <th class="col-lg-1">Subtotal</th>
                                            <th class="col-lg-1"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="cart in carts">
                                            <td class="product-thumbnail">
                                            <a asp-controller="Home" asp-action="ProductDetails"><img src="~/assets/images/cart/cart-1.jpg" alt=""></a>
                                            </td>
                                            <td class="product-name">
                                                <h5><a asp-controller="Home" asp-action="ProductDetails">{{cart.productName}}</a></h5>
                                            </td>
                                            <td><span>{{cart.size}}</span></td>   
                                            <td><span>{{cart.color}}</span></td>
                                            <td class="product-price">
                                                <span :class="{'old-price':cart.price}">${{cart.price}}</span>
                                                <span  class="new-price" v-if="cart.sellingPrice">${{cart.sellingPrice}}</span>    
                                            </td>
                                            <td class="cart-quality">
                                                @*<div class="product-quality">
                                                    <input class="cart-plus-minus-box input-text qty text" name="qtybutton" value="">
                                                </div>*@
                                                <span>{{cart.quantity}}</span>
                                            </td>
<<<<<<< HEAD
                                            <td class="product-total"><span>${{cart.price*cart.quantity}}</span></td>
                                            <td class="product-remove"><a href="#"><i class=" ti-trash "></i></a></td>
                                        </tr>
@*                                        <tr>
                                            <td class="product-thumbnail">
                                                <a asp-controller="Home" asp-action="ProductDetails"><img src="~/assets/images/cart/cart-2.jpg" alt=""></a>
>>>>>>> 新增ShopContext Entity的Cart及Wishlist,新增Vue2 dev version及production,調整Cartapicontroller版面
                                            </td>
                                            <td class="cart-quality">
                                                @*<div class="product-quality">
                                                <input class="cart-plus-minus-box input-text qty text"  name="qtybutton" value="1">

                                                </div>*@
                                                <input type="number" name="qtybutton" :value="cart.product.quantity" readonly>
                                                @*<span>{{cart.quantity}}</span>*@
                                            </td>
                                            <td class="product-price">
                                                <span :class="{'old-price':cart.product.price}">${{cart.product.price*cart.product.quantity}}</span>
                                                <span class="new-price" v-if="cart.product.sellingPrice">${{cart.product.sellingPrice*cart.product.quantity}}</span>
                                            </td>
<<<<<<< HEAD
                                            <td class="product-remove"><i class=" ti-trash "></i></td>
                                        </tr>
                                        
=======
                                            <td class="product-name">
                                                <h5><a asp-controller="Home" asp-action="ProductDetails">Modern Swivel Chair</a></h5>
                                            </td>
                                            <td class="product-cart-price"><span class="amount">$120.00</span></td>
                                            <td class="cart-quality">
                                                <div class="product-quality">
                                                    <input class="cart-plus-minus-box input-text qty text" name="qtybutton" value="1">
                                                </div>
                                            </td>
                                            <td class="product-total"><span>$120.00</span></td>
                                            <td class="product-remove"><a href="#"><i class=" ti-trash "></i></a></td>
                                        </tr>*@
>>>>>>> 新增ShopContext Entity的Cart及Wishlist,新增Vue2 dev version及production,調整Cartapicontroller版面
=======
                                            <td class="product-price">
                                                <span :class="{'old-price':cart.price}">${{cart.price*cart.quantity}}</span>
                                                <span  class="new-price" v-if="cart.sellingPrice">${{cart.sellingPrice*cart.quantity}}</span>
                                            </td>
                                            <td class="product-remove"><a href="#"><i class=" ti-trash "></i></a></td>
                                        </tr>
>>>>>>> 幫艾汶更改product的action
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="cart-shiping-update-wrapper">
                                    <div class="cart-shiping-update btn-hover">
                                        <a href="/Products/Index">Continue Shopping</a>                                        
                                    </div>
                                    <div class="cart-clear-wrap">
                                        @*Clear Cart Action尚未完成*@
                                        <div class="cart-clear btn-hover">
                                            <a href="/Cart/Index">Clear Cart</a>
                                            @*<a href="#">Clear Cart</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
<<<<<<< HEAD
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="grand-total-wrap" v-for="cart in productInThisCart">
=======
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cart-calculate-discount-wrap mb-40">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="cart-calculate-discount-wrap mb-40">
                        <h4>Coupon Discount </h4>
                        <div class="calculate-discount-content">
                            <p>Enter your coupon code if you have one.</p>
                            <div class="input-style">
                                <input type="text" placeholder="Coupon code">
                            </div>
                            <div class="calculate-discount-btn btn-hover">
                                <a class="btn theme-color" href="#">Apply Coupon</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-10 col-12">
                    <div class="grand-total-wrap">
>>>>>>> 新增ShopContext Entity的Cart及Wishlist,新增Vue2 dev version及production,調整Cartapicontroller版面
                        <div class="grand-total-content">
<<<<<<< HEAD
                            <div class="cart-calculate-discount-wrap mb-40">
                                <h4>Coupon Discount </h4>
                                <div class="calculate-discount-content">
                                    <div class="input-style">
                                        @*Discount優惠活動尚未完成*@
                                        <select>
                                            <option>Coupon Code</option>
                                            <option>初春活動<span>{{cart.groupon}}</span></option>
                                            <option>情人節活動<span>{{cart.groupon}}</span></option>
                                        </select>
                                    </div>
                                    <div class="calculate-discount-btn btn-hover">
                                        @*<a class="btn theme-color" href="#">Apply Coupon</a>*@
                                        <h3>Subtotal <span>$180.00</span></h3>
                                        <div class="grand-total">
                                            <h4>Total <span>$185.00</span></h4>
                                        </div>
                                    </div>
                                </div>
=======
                            <h3>Subtotal <span>$180.00</span></h3>
                            @*<div class="grand-shipping">
                                <span>Shipping</span>
                                <ul>
                                    <li><input type="radio" name="shipping" value="info" checked="checked"><label>Free shipping</label></li>
                                    <li><input type="radio" name="shipping" value="info" checked="checked"><label>Flat rate: <span>$100.00</span></label></li>
                                    <li><input type="radio" name="shipping" value="info" checked="checked"><label>Local pickup: <span>$120.00</span></label></li>
                                </ul>
                            </div>
                            <div class="shipping-country">
                                <p>Shipping to Bangladesh</p>
                            </div>*@
                            <div class="grand-total">
                                <h4>Total <span>$185.00</span></h4>
>>>>>>> 幫艾汶更改product的action
                            </div>
                        </div>
                        <div class="grand-total-btn btn-hover">
                            <a class="btn theme-color" asp-action="Checkout" asp-controller="Home">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD
</div>

@section Scripts{

    <script>
        let cart = new Vue({
            el: "#cartIndex",
            data: {
                productInThisCart: {
                    cartId:[]
                }
            },
            mounted: function () {
                var self = this;
                fetch('/api/cart/GetCart/')
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        console.log(result);
                        self.productInThisCart = result;
                    })
            },
            methods:
            {            
                RemoveToWishlist(id)
            {
                 console.log("RPid",id)
                            this.queryCartBaseURL = '/api/wishlist/RemoveToWishlist/' + id;
                    fetch(this.queryCartBaseURL,{method:"POST"})
                        .then(function (reponse) {return response.json()})
                        .then(function (result) {
                            alert(result);
                        })
            }
            }
        });
    </script>
    }
=======
</div>  

@section Scripts{

<script>
    let app =new Vue({
        el:"#cartIndex",
        data:{
            carts : []
        },
        mounted:function(){
            var self = this;
            fetch('/api/cart/getall')
            .then(function(response){return response.json()})
            .then(function(result){
            console.log(result);
            self.carts = result;
            })
        }
         });
    </script>
}
>>>>>>> 新增ShopContext Entity的Cart及Wishlist,新增Vue2 dev version及production,調整Cartapicontroller版面
