<div class="container" id="homeApp" />

<div class="slider-banner-area header-border-top-1 pt-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <div class="slider-active swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="intro-section slider-height-2 slider-content-center bg-img single-animation-wrap slider-bg-color-3" style="background-image:url('@Url.Content("~/assets/images/slider/slider-bg-3.jpg")')">
                                <div class="hm2-slider-animation">
                                    <div class="slider-content-2 slider-content-2-mrg slider-animated-3">
                                        <h3 class="animated">Up To 40% Off</h3>
                                        <h1 class="font-inc animated">Summer <br>Collection</h1>
                                        <div class="slider-btn-2 btn-hover">
                                            <a href="/Products" class="btn hover-border-radius theme-color animated">
                                                Shop Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro-section slider-height-2 slider-content-center bg-img single-animation-wrap slider-bg-color-3" style="background-image:url('@Url.Content("~/assets/images/slider/slider-bg-3-2.jpg")')">
                                <div class="hm2-slider-animation">
                                    <div class="slider-content-2 slider-content-2-mrg slider-animated-3">
                                        <h3 class="animated">Up To 40% Off</h3>
                                        <h1 class="font-inc animated">Summer <br>Collection</h1>
                                        <div class="slider-btn-2 btn-hover">
                                            <a href="/Products" class="btn hover-border-radius theme-color animated">
                                                Shop Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="home-slider-prev2 main-slider-nav2"><i class="fa fa-angle-left"></i></div>
                        <div class="home-slider-next2 main-slider-nav2"><i class="fa fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5">
                <div class="banner-wrap banner-wrap-margin">
                    <a href="/Products"><img src="/assets/images/banner/banner-10.png" alt=""></a>
                    <div class="banner-content-7">
                        <h2>Exceptional</h2>
                        <span>Officr Chair</span>
                    </div>
                    <div class="btn-style-4">
                        <a class="btn" href="/Products">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        @*左側新品顯示區塊*@
        <div class="banner-area pt-100  pb-65 col-lg-3 col-md-6 col-12">
            <div class="container">
                <div class="row flex-column">
                    <template v-for="item in leftsideItems">
                        <div class="col-lg-12 col-md-8 col-12">
                            <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                                <a :href="linkToProductDetails(item.id)"><img :src="item.pictures" style="height:50%" alt=""></a>
                                <div class="banner-content-1">
                                    <h5>new arrival</h5>
                                    <h3>{{ item.productName }}</h3>
                                    <div class="banner-btn">
                                        <a :href="linkToProductDetails(item.id)">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        @*中間區塊：全部/新上架/暢銷/促銷商品*@
        <div class="product-area pb-100 col-lg-9 col-md-6 col-12">
            <div class="container">
                <div class="section-title-2 border-none text-center mb-15 mt-30" data-aos="fade-up" data-aos-delay="200">
                    <h2>Hot Products</h2>
                </div>
                <div class="tab-style-1 tab-style-1-margin tab-border-none tab-center nav mb-55" data-aos="fade-up" data-aos-delay="400">
                    <a href="#pro-1" data-bs-toggle="tab">All Items </a>
                    <a class="active" href="#pro-2" data-bs-toggle="tab">New Arrivals </a>
                    <a href="#pro-3" data-bs-toggle="tab" class=""> Best Sellers </a>
                    <a href="#pro-4" data-bs-toggle="tab" class=""> Sale Items </a>
                </div>
                <div class="tab-content jump">
                    <div id="pro-1" class="tab-pane">
                        <div class="row">
                            <template v-for="(cItem, index) in combinedItems" :key="index">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="product-wrap mb-35" data-aos="fade-up" :data-aos-delay="200+200*(index+1)">
                                        <div class="product-img img-zoom mb-25">
                                            <a :href="linkToProductDetails(cItem.id)">
                                                <img :src="cItem.pictures[0]" alt="">
                                            </a>
                                            <div class="product-badge badge-top badge-right badge-pink">
                                                <span v-if="cItem.sellingPrice">-{{ discount(cItem.price, cItem.sellingPrice) }}%</span>
                                            </div>
                                            @*加入願望清單按鈕*@
                                            <div class="product-action-wrap">
                                                <button class="product-action-btn-1" title="Wishlist" v-on:click="addToWishlist(cItem.productId)"><i class="pe-7s-like"></i></button>
                                            </div>
                                            @*加入購物車按鈕*@
                                            <div class="product-action-2-wrap">
                                                <button class="product-action-btn-2" title="Add To Cart" v-on:click="addToCart(cItem.productId)"><i class="pe-7s-cart"></i> Add to cart</button>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a :href="linkToProductDetails(cItem.id)">{{ cItem.productName }}</a></h3>
                                            <div class="product-price">
                                                <span :class="{'old-price':cItem.discount}">${{cItem.price}}</span>
                                                <span class="new-price" v-if="cItem.discount">${{cItem.sellingPrice}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div id="pro-2" class="tab-pane active">
                        <div class="row">
                            <template v-for="(nItem, index) in newItems" :key="index">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="product-wrap mb-35" data-aos="fade-up" :data-aos-delay="200*(index+1)">
                                        <div class="product-img img-zoom mb-25">
                                            <a :href="linkToProductDetails(nItem.id)">
                                                <img :src="nItem.pictures[0]" alt="">
                                            </a>
                                            <div class="product-badge badge-top badge-right badge-pink">
                                                <span v-if="nItem.sellingPrice">-{{ discount(nItem.price, nItem.sellingPrice) }}%</span>
                                            </div>
                                            @*加入願望清單按鈕*@
                                            <div class="product-action-wrap">
                                                <button class="product-action-btn-1" title="Wishlist" v-on:click="addToWishlist(nItem.productId)"><i class="pe-7s-like"></i></button>
                                            </div>
                                            @*加入購物車按鈕*@
                                            <div class="product-action-2-wrap">
                                                <button class="product-action-btn-2" title="Add To Cart" v-on:click="addToCart(nItem.productId)"><i class="pe-7s-cart"></i> Add to cart</button>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a :href="linkToProductDetails(nItem.id)">{{ nItem.productName }}</a></h3>
                                            <div class="product-price">
                                                <span :class="{'old-price':nItem.discount}">${{nItem.price}}</span>
                                                <span class="new-price" v-if="nItem.discount">${{nItem.sellingPrice}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div id="pro-3" class="tab-pane">
                        <div class="row">
                            <template v-for="(tItem, index) in topNItems" :key="index">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="product-wrap mb-35" data-aos="fade-up" :data-aos-delay="200+200*(index+1)">
                                        <div class="product-img img-zoom mb-25">
                                            <a :href="linkToProductDetails(tItem.id)">
                                                <img :src="tItem.pictures[0]" alt="">
                                            </a>
                                            <div class="product-badge badge-top badge-right badge-pink">
                                                <span v-if="tItem.sellingPrice">-{{ discount(tItem.price, tItem.sellingPrice) }}%</span>
                                            </div>
                                            @*加入願望清單按鈕*@
                                            <div class="product-action-wrap">
                                                <button class="product-action-btn-1" title="Wishlist" v-on:click="addToWishlist(tItem.productId)"><i class="pe-7s-like"></i></button>
                                            </div>
                                            @*加入購物車按鈕*@
                                            <div class="product-action-2-wrap">
                                                <button class="product-action-btn-2" title="Add To Cart" v-on:click="addToCart(tItem.productId)"><i class="pe-7s-cart"></i> Add to cart</button>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a :href="linkToProductDetails(tItem.id)">{{ tItem.productName }}</a></h3>
                                            <div class="product-price">
                                                <span :class="{'old-price':tItem.discount}">${{tItem.price}}</span>
                                                <span class="new-price" v-if="tItem.discount">${{tItem.sellingPrice}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div id="pro-4" class="tab-pane">
                        <div class="row">
                            <template v-for="(sItem, index) in saleItems" :key="index">
                                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                    <div class="product-wrap mb-35" data-aos="fade-up" :data-aos-delay="200+200*(index+1)">
                                        <div class="product-img img-zoom mb-25">
                                            <a :href="linkToProductDetails(sItem.id)">
                                                <img :src="sItem.pictures[0]" alt="">
                                            </a>
                                            <div class="product-badge badge-top badge-right badge-pink">
                                                <span v-if="sItem.sellingPrice">-{{ discount(sItem.price, sItem.sellingPrice) }}%</span>
                                            </div>
                                            @*加入願望清單按鈕*@
                                            <div class="product-action-wrap">
                                                <button class="product-action-btn-1" title="Wishlist" v-on:click="addToWishlist(sItem.productId)"><i class="pe-7s-like"></i></button>
                                            </div>
                                            @*加入購物車按鈕*@
                                            <div class="product-action-2-wrap">
                                                <button class="product-action-btn-2" title="Add To Cart" v-on:click="addToCart(sItem.productId)"><i class="pe-7s-cart"></i> Add to cart</button>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a :href="linkToProductDetails(sItem.id)">{{ sItem.productName }}</a></h3>
                                            <div class="product-price">
                                                <span :class="{'old-price':sItem.discount}">${{sItem.price}}</span>
                                                <span class="new-price" v-if="sItem.discount">${{sItem.sellingPrice}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                    <a href="/Products"><img src="/assets/images/banner/banner-11.png" alt=""></a>
                    <div class="banner-content-8 banner-position-1">
                        <span class="border-left">Up To 50% Off</span>
                        <h2 class="h2-width">New Furniture Sofa Set</h2>
                        <div class="btn-style-5 btn-hover">
                            <a class="btn theme-color" href="/Products">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="banner-wrap mb-30" data-aos="fade-up" data-aos-delay="400">
                    <a href="/Products"><img src="/assets/images/banner/banner-12.png" alt=""></a>
                    <div class="banner-content-8 text-center banner-position-2">
                        <span class="border-left-right">Up To 50% Off</span>
                        <h2 class="font-dec">New Furniture <br>Sofa Set</h2>
                        <div class="btn-style-5 btn-hover">
                            <a class="btn theme-color" href="/Products">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonial-area pb-100">
    <div class="container">
        <div class="section-title-2 st-border-center text-center mb-75" data-aos="fade-up" data-aos-delay="200">
            <h2>Testimonial</h2>
        </div>
        <div class="testimonial-active swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="single-testimonial" data-aos="fade-up" data-aos-delay="200">
                        <div class="testimonial-img">
                            <img src="/assets/images/testimonial/client-1.png" alt="">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectet adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore.</p>
                        <div class="testimonial-info">
                            <h4>Amrita Sha</h4>
                            <span> Our Client.</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="single-testimonial" data-aos="fade-up" data-aos-delay="400">
                        <div class="testimonial-img">
                            <img src="/assets/images/testimonial/client-2.png" alt="">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectet adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore.</p>
                        <div class="testimonial-info">
                            <h4>Andi Lane</h4>
                            <span> Designer.</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="single-testimonial" data-aos="fade-up" data-aos-delay="600">
                        <div class="testimonial-img">
                            <img src="/assets/images/testimonial/client-1.png" alt="">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectet adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore.</p>
                        <div class="testimonial-info">
                            <h4>Ted Ellison</h4>
                            <span> Developer.</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="single-testimonial" data-aos="fade-up" data-aos-delay="800">
                        <div class="testimonial-img">
                            <img src="/assets/images/testimonial/client-2.png" alt="">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectet adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore.</p>
                        <div class="testimonial-info">
                            <h4>Aliah Pitts</h4>
                            <span> Customer.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand-logo-area pb-100">
    <div class="container">
        <div class="brand-logo-active swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="200">
                        <a href="#"><img src="/assets/images/brand-logo/brand-logo-1.png" alt=""></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="400">
                        <a href="#"><img src="/assets/images/brand-logo/brand-logo-2.png" alt=""></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="600">
                        <a href="#"><img src="/assets/images/brand-logo/brand-logo-3.png" alt=""></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="800">
                        <a href="#"><img src="/assets/images/brand-logo/brand-logo-4.png" alt=""></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="1000">
                        <a href="#"><img src="/assets/images/brand-logo/brand-logo-5.png" alt=""></a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="single-brand-logo" data-aos="fade-up" data-aos-delay="1200">
                        <a href="#"><img src="/assets/images/brand-logo/brand-logo-1.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area pb-90">
    <div class="container">
        <div class="section-border section-border-margin-1" data-aos="fade-up" data-aos-delay="200">
            <div class="section-title-timer-wrap bg-white">
                <div class="section-title-1">
                    <h2>Deal Of The Day</h2>
                </div>
                <div id="timer-1-active" class="timer-style-1">
                    <span>End In: </span>
                    <div data-countdown="2023/8/30"></div>
                </div>
            </div>
        </div>
        <div class="product-slider-active-1 swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="product-wrap" data-aos="fade-up" data-aos-delay="200">
                        <div class="product-img img-zoom mb-25">
                            <a href="/Products">
                                <img src="/assets/images/product/product-1.png" alt="">
                            </a>
                            <div class="product-badge badge-top badge-right badge-pink">
                                <span>-10%</span>
                            </div>
                            <div class="product-action-wrap">
                                <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                            <div class="product-action-2-wrap">
                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="/Products">New Modern Sofa Set</a></h3>
                            <div class="product-price">
                                <span class="old-price">$25.89 </span>
                                <span class="new-price">$20.25 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-wrap" data-aos="fade-up" data-aos-delay="400">
                        <div class="product-img img-zoom mb-25">
                            <a href="/Products">
                                <img src="/assets/images/product/product-2.png" alt="">
                            </a>
                            <div class="product-action-wrap">
                                <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                            <div class="product-action-2-wrap">
                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="/Products">New Modern Sofa Set</a></h3>
                            <div class="product-price">
                                <span>$50.25 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-wrap" data-aos="fade-up" data-aos-delay="600">
                        <div class="product-img img-zoom mb-25">
                            <a href="/Products">
                                <img src="/assets/images/product/product-3.png" alt="">
                            </a>
                            <div class="product-badge badge-top badge-right badge-pink">
                                <span>-10%</span>
                            </div>
                            <div class="product-action-wrap">
                                <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                            <div class="product-action-2-wrap">
                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="/Products">Easy Modern Chair</a></h3>
                            <div class="product-price">
                                <span class="old-price">$45.00 </span>
                                <span class="new-price">$40.00 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-wrap" data-aos="fade-up" data-aos-delay="800">
                        <div class="product-img img-zoom mb-25">
                            <a href="/Products">
                                <img src="/assets/images/product/product-4.png" alt="">
                            </a>
                            <div class="product-action-wrap">
                                <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                            <div class="product-action-2-wrap">
                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="/Products">Stylish Swing Chair</a></h3>
                            <div class="product-price">
                                <span>$30.25 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-wrap" data-aos="fade-up" data-aos-delay="1000">
                        <div class="product-img img-zoom mb-25">
                            <a href="/Products">
                                <img src="/assets/images/product/product-2.png" alt="">
                            </a>
                            <div class="product-badge badge-top badge-right badge-pink">
                                <span>-10%</span>
                            </div>
                            <div class="product-action-wrap">
                                <button class="product-action-btn-1" title="Wishlist"><i class="pe-7s-like"></i></button>
                                <button class="product-action-btn-1" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                            <div class="product-action-2-wrap">
                                <button class="product-action-btn-2" title="Add To Cart"><i class="pe-7s-cart"></i> Add to cart</button>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3><a href="/Products">New Modern Sofa Set</a></h3>
                            <div class="product-price">
                                <span class="old-price">$80.50 </span>
                                <span class="new-price">$75.25 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-prev-1 product-nav-1" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-angle-left"></i></div>
            <div class="product-next-1 product-nav-1" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-angle-right"></i></div>
        </div>
    </div>
</div>
<div class="blog-area pb-70">
    <div class="container">
        <div class="section-title-2 st-border-center text-center mb-75" data-aos="fade-up" data-aos-delay="200">
            <h2>Latest News</h2>
        </div>
        <div class="row">
            <template v-for="lstPost in posts">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-img-date-wrap mb-25">
                            <div class="blog-img">
                                <a :href="linkToBlogDetails(lstPost.id)"><img src="/assets/images/blog/blog-1.png" alt=""></a>
                            </div>
                            <div class="blog-date">
                                <h5>{{ getPostDay(lstPost.createdDate) }} <span>{{ getPostMonth(lstPost.createdDate) }}</span></h5>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <ul>
                                    <li><a href="#">{{ lstPost.category }}</a>,</li>
                                    <li>By:<a :href="linkToMembersPosts(lstPost.id)"> {{ lstPost.memberName }}</a></li>
                                </ul>
                            </div>
                            <h3><a :href="linkToBlogDetails(lstPost.id)">{{ lstPost.title }}</a></h3>
                            <p v-html="lstPost.description">{{ lstPost.description }}</p>
                            <div class="blog-btn-2 btn-hover">
                                <a class="btn hover-border-radius theme-color" :href="linkToBlogDetails(lstPost.id)">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>

@section Scripts{

    <script>

        let homeIndexVue = new Vue({
            //el:'#homeApp',
            name: "homeApp",
            data: {
                newItems: [],
                topNItems: [],
                saleItems: [],
                leftsideItems: [],
                posts: [],
                limit: 3,
                aDay: "",
                aMonth: "",
                
            },
            mounted: function () {
                let self = this
                self.getNewItems()
                self.getTopNItems()
                self.getSaleItems()
                self.getLastestPost()
            },
            computed: {
                combinedItems() {
                    return this.newItems.concat(this.topNItems, this.saleItems);
                }
            },
            methods: {
                linkToProductDetails: function (productId) {
                    return "/Products/ProductDetails/" + productId
                },
                linkToBlogDetails(articleId) {
                    return "/Blog/Details/" + articleId
                },
                linkToMembersPosts: function (articleId) { return "/Blog/Sidebar/" + articleId },
                //linkToCategoryPosts: function (categoryId) { return "/Blog/Sidebar/" + categoryId },
                getNewItems: async function () {
                    await axios.get("/api/Home/GetNewItems")
                        .then(response => {
                            console.log("at mounted, newest:", response)
                            if (response.status == 200 && response.data.statusCode === 200) {
                                this.newItems = response.data.value
                                this.leftsideItems = response.data.value.slice(0, this.limit)

                            }
                        })
                        .catch(error => { tgm103ShowError(error.response.data) })
                },
                getTopNItems: async function () {
                    await axios.get("/api/Home/GetTopNItems")
                        .then(response => {
                            console.log("at mounted, topN:", response)
                            if (response.status == 200 && response.data.statusCode === 200) {
                                this.topNItems = response.data.value
                            }
                        })
                        .catch(error => { tgm103ShowError(error.response.data) })
                },
                getSaleItems: async function () {
                    await axios.get("/api/Home/GetSaleItems")
                        .then(response => {
                            console.log("at mounted, sales:", response)
                            if (response.status == 200 && response.data.statusCode === 200) {
                                this.saleItems = response.data.value
                            }
                        })
                        .catch(error => { tgm103ShowError(error.response.data) })
                },
                discount: function (p, sp) {
                    return sp ? ((p - sp) / p * 100).toFixed(0) : "";
                },
                getLastestPost: async function () {
                    await axios.get("/api/Home/GetLastestPost")
                        .then(response => {
                            console.log("at mounted, posts:", response)
                            if (response.status == 200 && response.data.statusCode === 200) {
                                this.posts = response.data.value
                            }
                        })
                        .catch(error => { tgm103ShowError(error.response.data) })
                },
                getPostDay: function (currentDate) {
                    let date = new Date(currentDate)
                    return date.getDate()
                    //return this.aDay
                },
                getPostMonth: function (currentDate) {
                    let date = new Date(currentDate)
                    return date.toLocaleString('default', { month: 'short' })
                    //return this.aMonth
                },
                ///////////// Cart
                addToCart: function (productId) {
                    console.log("CPid:", productId)
                    const queryCartBaseURL = '/api/cart/AddToCart/' + productId;
                    fetch(queryCartBaseURL, { method: "POST" })
                        .then(function (response) {
                            console.table(response)
                            let cartp = response
                            return response.json()
                        })
                        .then(function (result) {
                            var al = {
                                icon: 'sucess',
                                title: '成功',
                                text: result.message,
                                timer: 2000
                            };
                            if (!result.status) {
                                al.icon = "error";
                                al.title = "失敗";
                            }
                            Swal.fire(al)
                        })
                },
                addToWishlist: function (productId) {
                    console.log("WPid:", productId)
                    const queryWishlistBaseURL = '/api/wishlist/AddWishList/' + productId;
                    fetch(queryWishlistBaseURL, { method: "POST" })
                        .then(function (response) {
                            console.table(response)
                            let wresp = response
                            return response.json()
                        })
                        .then(function (result) {
                            var al = {
                                icon: 'success',
                                title: '成功',
                                text: result.message,
                                timer: 2000
                            };
                            if (!result.status) {
                                al.icon = "error";
                                al.title = "失敗";
                            }
                            Swal.fire(al)
                        })

                },
                ////////////
            },
        })

        document.addEventListener("DOMContentLoaded", () => {
            homeIndexVue.$mount('#homeApp')
        })
    </script>
}
